<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/contact" %>
<% end %>
<% content_for :specific_javascript do %>
<%#= javascript_include_tag "units/contact" %>
<script>
  $(".module-form-input,.module-form-textarea").on('change', function(event) {
    // event.preventDefault();
    /* Act on the event */
    if( $(this).val() != "" ){
      $(this).next(".form-warning-text").text("");
    }
  });

  function chksubmit(){
    if( $("#select-store").val() == 0 || $(".input-name").val() == "" || $(".input-tel").val() == "" || $(".input-mail").val() == "" || $(".input-msg").val() == "" ){
      var myMsg = "提醒您：";

      if($("#select-store").val() == 0){
        // $("#select-store").closest('.select-wrap').next(".form-warning-text").text("請選擇分店。");
        myMsg += "<br>請選擇分店。";
      }else{
        // $("#select-store").closest('.select-wrap').next(".form-warning-text").text("");        
      }

      if($(".input-name").val() == ""){
        // $(".input-name").next(".form-warning-text").text("請填寫您的姓名。");
        myMsg += "<br>請填寫您的姓名。";
      }else{
        // $(".input-name").next(".form-warning-text").text("");        
      }

      if($(".input-tel").val() == ""){
        // $(".input-tel").next(".form-warning-text").text("請填寫您的電話。");
        myMsg += "<br>請填寫您的電話。";
      }else{
        // $(".input-tel").next(".form-warning-text").text("");        
      }

      if($(".input-mail").val() == ""){
        // $(".input-mail").next(".form-warning-text").text("請填寫電子信箱。");
        myMsg += "<br>請填寫電子信箱。";
      }else{
        // $(".input-mail").next(".form-warning-text").text("");        
      }
      
      if($(".input-msg").val() == ""){
        // $(".input-msg").next(".form-warning-text").text("請填寫您的意見。");
        myMsg += "<br>請填寫您的意見。";
      }else{
        // $(".input-msg").next(".form-warning-text").text("");        
      }

      popAlert(myMsg +'<a class="style-round color-white do-popclose">確定</a>');
      return false;

    }else{
      popAlert('感謝您的寶貴建議！<br>我們會盡快與您聯繫！' +'<a class="style-round color-white" href="/views/index/index.html">返回首頁</a>');      
      return false;
    }
  }
</script>
<% end %>
<% @page = "contact" %>
<!-- EDIT FROM HERE -->
<section class="section-contact">
  <h1 class="large-title-en style-spfont">Contact Us</h1>
  <h2 class="large-title-ch">聯絡我們</h2>
  <p class="msg">古拉爵自成立以來一直抱持著希望可以帶給大眾不同的用餐體驗，有別於以往的義大利式餐廳，我們拉近彼此的距離，一同在餐桌上享受豐富且美味的佳餚，讓分享這件事變得更容易！
  </p>
  <img src="/images/img-contact-r.png" alt="" class="on-mobile">
  <p class="msg">我們用心設計豐富的菜色，希望您在敘舊、談心的同時可以與好友分享各種口味的美食。使用暗色系的室內裝潢打造典雅又不失神秘的氛圍，不管是洽談公事還是與好友聊聊心事，古拉爵是您的最佳好夥伴！</p>
  <img src="/images/img-contact-m-2.png" alt="" class="on-mobile">
  <img src="/images/img-contact-desk.png" alt="" class="on-desk">
  <div class="row">
    歡迎留下您的寶貴意見或是與我們分享在古拉爵的小故事，<br>
    您的鼓勵、支持是我們堅持下去的動力；您的指教是我們變得更好的目標。<br>
    我們會儘速回覆您的留言。
  </div>
  <form action="">
    <div class="form-block style-full">
      <label class="module-form-label" for="contact_name">店別</label>
      <div class="select-wrap">
        <select name="region" id="select-store" class="select-store">
          <option value="0">請選擇分店名稱</option>
          <option value="1">欣欣大眾店</option>
          <option value="2">板橋大遠百店</option>
        </select>
      </div>
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <div class="form-block style-full">
      <label class="module-form-label" for="contact_name">貴賓姓名</label>
      <input type="text" class="module-form-input input-name" name="contact_name" placeholder="" maxlength="20" />
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <div class="form-block style-full">
      <label class="module-form-label" for="contact_tel">連絡電話</label>
      <input type="text" class="module-form-input input-tel style-half" name="contact_tel" placeholder="" maxlength="15" />
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <div class="form-block style-full">
      <label class="module-form-label" for="contact_mail">E-mail</label>
      <input type="text" class="module-form-input input-mail" name="contact_mail" placeholder="" maxlength="50" />
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <div class="form-block style-full style-textarea">
      <label class="module-form-label" for="contact_msg">寶貴建議</label>
      <textarea class="module-form-textarea input-msg" name="contact_msg" placeholder=""></textarea>
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <button class="style-round color-white" onclick="return chksubmit();">送出</button>
  </form>
</section>