<!DOCTYPE html>
<html lang="zh-tw">

<head>
<%= render :partial => "partial/head-meta" %>
<%= render :partial => "partial/insert-stylesheets" %>
</head>

<body>
<div class="layout-container">
<!-- HEADER START -->
<%= render :partial => "partial/layout-header" %>
<!-- HEADER END -->

<div id="layout-view" class="layout-view <%= @page %>">
<%= yield %>
</div>
<!-- FOOTER START -->
<%= render :partial => "partial/layout-footer" %>
<!-- FOOTER END -->
</div>

<% if ( @page == "index" ) %>
<a class="edm clearfix">
  <span class="iconwrap-zoom btn-zoom"><i class="module-icon icon-zoom"></i></span>
  <img src="/images/temp/test-edm.jpg" alt="">
  <span class="img-xs btn-zoom" style='background-image: url("/images/temp/test-edm.jpg");' ></span>
</a>

<a href="#" class="tag-career"><img src="/images/img-career.png" alt="人才招募"></a>
<% end %>
<!-- POPUP CONTENT HIDE HERE -->
<!-- POPUP CONTENT END -->

<%= livereload_js if ENV["RACK_ENV"] != "production" %>
<%= render :partial => "partial/insert-javascripts" %>

</body>
</html>