<% content_for :specific_stylesheet do %>

<style>
  .layout-view {
    position: relative;
    text-align: center;
    padding-top: 220px;
    padding-bottom: 100px;
    font-size: 16px;
  }
  @media (max-width: 1024px) {
    .layout-view {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
  form,.content-list{
    width: 50%;
    margin: 0 auto;
    text-align: left;
  }
  @media (max-width: 1024px){
    form,.content-list{
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  h2,h4{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  button,a{
    margin-top: 1em;
    margin-bottom: 1em;
  }
</style>
<% end %>
<% content_for :specific_javascript do %>
<script>
  function chksubmit(){
    popAlert("跳出警告視窗內容。"+'<a class="style-round color-white do-popclose">按鈕</a>');
    return false;
  }

  var scrollNow = $(window).scrollTop();

  $(window).scroll(function () {
    var scrollVal = $(this).scrollTop();
    var win_h = $(window).height();
  //Mobile UI
  if( ( scrollVal + win_h ) >= $("body").height() - $("#footer").height() ){
    // console.log("over!");
    $(".nav-footer").addClass("style-stick");
  }else{
    $(".nav-footer").removeClass("style-stick");
  }


});

</script>
<% end %>
<!-- EDIT FROM HERE -->

<section class="clearfix">
  <h1 class="large-title-en style-spfont">GUIDELINE (large-title-en)</h1>
  <h2 class="large-title-ch">large-title-ch</h2>

  <div class="style-left" style="line-height:2;">
    <p class="style-spfont">style-spfont</p>
    <p class="style-font-times">style-font-times</p>
    <p class="style-center">style-center</p>
    <p class="style-left">style-left</p>
    <a href="#" class="style-link">style-link</a>
    <p class="on-desk">on-desk</p>
    <p class="on-mobile">on-mobile</p>
    <p>
      <span class="br">br過長自動換行</span>
      <span class="br">br過長自動換行br過長自動換行br過長自動換行br過長自動換行br過長自動換行</span>
      <span class="br">br過長自動換行br過長自動換行br過長自動換行br過長自動換行</span>
      <span class="br">br過長自動換行br過長自動換行</span>
    </p>
  </div>


  <!-- LEFT SIDE MENU -->
  <div class="style-left on-desk">
    <nav class="nav-category">
      <ul class="category-list">
        <li class="category-item"><a href="#">SIDE MENU</a></li>
        <li class="category-item is-active"><a href="#">is-active</a></li>
        <li class="category-item"><a href="#">BTN3</a></li>
        <li class="category-item"><a href="#">BTN4</a></li>
      </ul>
    </nav>
  </div>

  <ul class="nav-footer on-mobile style-stick">
    <li class="nav-footer-item"><a href="#">BTN1</a></li>
    <li class="nav-footer-item"><a href="#">BTN2</a></li>
    <li class="nav-footer-item"><a href="#">BTN3</a></li>
  </ul>

  <h2 class="title style-frame">
    <p class="style-spfont">標題(.title.style-frame)</p>
    <p class="append-text"><span class="br">append-text</span><span class="br">append-text</span></p>
    <p class="append-right"><i class="shape-line"></i>append-right</p>
  </h2>

  <h2 class="title style-leaf"><span class="style-spfont">.title.style-leaf</span></h2>
  <p class="append-text">append-text</p>

  <h4 class="category-info">
    <span>category-info span</span>
  </h4>

  <dl class="content-list">
    <dt class="title">項目</dt>
    <dd class="content">內容</dd>
    <dt class="title">title</dt>
    <dd class="content">content content content</dd>
    <dt class="title">title</dt>
    <dd class="content">content content content</dd>
    <dt class="title">title</dt>
    <dd class="content">content content content content content</dd>
    <dt class="title">title</dt>
    <dd class="content">content content content content content content</dd>
  </dl>

  <form>
    <div class="select-wrap">
      <select>
        <option value="0">一般下拉選單</option>
        <option value="1">選項</option>
        <option value="2">選項選項</option>
        <option value="3">選項選項選項</option>
        <option value="9">選項選項選項選項選項選項選項選項選項</option>
      </select>
    </div>
  </form>

  <form>
    <div class="form-block style-full">
      <label class="module-form-label" for="contact_name">下拉表單</label>
      <div class="select-wrap">
        <select name="region" id="select-store" class="select-store">
          <option value="0">請選擇</option>
          <option value="1">選項</option>
          <option value="2">選項選項選項選項選項選項</option>
          <option value="3">選項選項選項選項選項選項選項選項選項選項選項選項</option>
        </select>
      </div>
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <div class="form-block style-full">
      <label class="module-form-label" for="contact_name">文字表單</label>
      <input type="text" class="module-form-input input-name" name="contact_name" placeholder="module-form-input" maxlength="20" />
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>
    <div class="form-block style-full style-textarea">
      <label class="module-form-label" for="contact_msg">多行表單</label>
      <textarea class="module-form-textarea input-msg" name="contact_msg" placeholder="module-form-textarea"></textarea>
      <p class="form-warning-text"><!-- 警告文字 --></p>
    </div>

    <button class="style-round color-white" onclick="return chksubmit();">按鈕</button>
  </form>

  <div class="btn-wrap">
    <a href="#" class="style-round" onclick="return chksubmit();">按鈕</a>
    <a href="#" class="module-btn style-o">按鈕</a>
    <a class="style-sq btn-close-mealinfo">按鈕</a>
    <a href="#" class="style-round-full"><i class="fa fa-thumbs-up" aria-hidden="true"></i>按鈕</a>
    <a href="#" class="style-round-full"><i class="fa fa-thumbs-up" aria-hidden="true"></i>按鈕2</a>
    <a href="#" class="style-round-full"><i class="fa fa-thumbs-up" aria-hidden="true"></i>按鈕3</a>
  </div>

</section>

<!-- EDIT END HERE -->