<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/perfect-scrollbar" %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "units/store" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/perfect-scrollbar.jquery" %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/store-detail" %>
<script>

  var swiper = new Swiper('.swiper-container', {
    effect: 'fade',
    nextButton: '.swiper-next',
    prevButton: '.swiper-prev',
    pagination: '.swiper-pagination',
    bulletClass: 'bullet',
    simulateTouch: true,
    autoplay: 5000,
    speed: 1000,
    spaceBetween: 0,
    paginationClickable: true,
    paginationBulletRender: function (index ){
      var newBullet =  "<span class='bullet style-spfont'>"+(index+1)+"</span>";
      return newBullet;
    }

  });


  (function() {
    $('.section-search').perfectScrollbar();
  })();

</script>
<% end %>
<% @page = "store-detail" %>


<!-- RIGHT SIDE MENU -->
<section class="section-search on-desk">
  <form class="search-wrap">
    <p class="title">查詢附近門市</p>
    <div class="select-wrap">
      <select name="region" id="select-region" class="select-region">
        <!-- <option value="0">請選擇區域</option> -->
        <option value="1" selected="true">台北市</option>
        <option value="2">新北市</option>
        <option value="9">高雄市</option>
      </select>
    </div>
    <!-- <button class="style-round color-white">搜尋</button> -->
  </form>

  <ul class="searchstore-list">
    <%0.times do%>
    <li class="searchstore-item" data-lat="" data-lng="">
      <p class="name">分店名稱分店名稱分店名稱</p>
      <p class="tel">02-25959595</p>
      <p class="address">分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址</p>
      <div class="btn-wrap">
        <a class="style-round-full" href=""><img src="/images/icon-tag.svg" alt="">分店詳細資訊</a>
        <a class="style-round-full" href=""><img src="/images/icon-book.svg" alt="">線上菜單</a>
      </div>
    </li>
    <%end%>
  </ul>

</section>

<!-- MAIN CONTENT -->
<section class="section-main">
  <div class="btn-wrap on-mobile">
    <a href="store-list.html" class="module-btn style-o">分店查詢</a>
  </div> 
  <div class="inner">

    <div class="album-wrapper clearfix">
     <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="http://dummyimage.com/1600x960/aaa/ccc" alt=""></div>
        <div class="swiper-slide"><img src="http://dummyimage.com/1600x960/888/aaa&text=slide2" alt=""></div>
        <div class="swiper-slide"><img src="http://dummyimage.com/1600x960/666/999&text=slide3" alt=""></div>
        <div class="swiper-slide"><img src="http://dummyimage.com/1600x960/888/aaa&text=slide4" alt=""></div>
        <div class="swiper-slide"><img src="http://dummyimage.com/1600x960/666/999&text=slide5" alt=""></div>
      </div>
    </div>
    <div class="swiper-prev"></div>
    <div class="swiper-next"></div>
    <p class="name">台北市 / 欣欣大眾店</p>
    <div class="swiper-pagination"></div>
  </div>

  <div class="content-wrapper">
    <dl class="content-list">
      <dt class="title">訂位專線</dt>
      <dd class="content">02-2595-9595</dd>
      <dt class="title">店家地址</dt>
      <dd class="content">店家地址內容店家地址內容店家地址內容店家地址內容店家地址內容</dd>
      <dt class="title">營業時間</dt>
      <dd class="content">營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容營業時間內容</dd>
      <dt class="title">公車路線</dt>
      <dd class="content">公車路線內容公車路線內容公車路線內容公車路線內容公車路線內容</dd>
      <dt class="title">捷運路線</dt>
      <dd class="content">捷運路線內容捷運路線內容捷運路線內容捷運路線內容捷運路線內容</dd>
    </dl>
    <div class="btn-wrap">
      <a class="btn-driveplan style-round-full" href="https://www.google.com.tw/maps/dir//台北重慶北路三段252巷16號"><img src="/images/icon-drive.svg" alt="">路線規劃</a>
    </div>
  </div>

  <div class="edm-wrapper">
    <h4 class="category-info">
      <span>分店專屬活動DM</span>
    </h4>
    <img class="img-edm" src="/images/temp/test-edm.jpg" alt="">
  </div>

</div>

</section>