<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/perfect-scrollbar" %>
<%= stylesheet_link_tag "units/store" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/perfect-scrollbar.jquery" %>
<%= javascript_include_tag "units/store-list" %>
<script>

</script>
<% end %>
<% @page = "store-list" %>


<!-- RIGHT SIDE MENU -->
<section class="section-search">
  <form class="search-wrap">
    <p class="title">查詢附近門市</p>
    <div class="select-wrap">
      <select name="region" id="select-region" class="select-region">
        <option value="0">請選擇區域</option>
        <option value="1">台北市</option>
        <option value="2">新北市</option>
        <option value="9">高雄市</option>
      </select>
    </div>
    <!-- <button class="style-round color-white">搜尋</button> -->
  </form>

<ul class="searchstore-list">
  <%0.times do%>
  <li class="searchstore-item" data-lat="23.5" data-lng="121">
    <p class="name">分店名稱分店名稱分店名稱</p>
    <p class="tel">02-25959595</p>
    <p class="address">分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址分店地址</p>
    <div class="btn-wrap">
      <a class="style-round-full" href="store-detail.html"><img src="/images/icon-tag.svg" alt="">分店詳細資訊</a>
      <a class="style-round-full" href="#"><img src="/images/icon-book.svg" alt="">線上菜單</a>
    </div>
  </li>
  <%end%>
</ul>

</section>

<!-- MAIN CONTENT -->
<section class="section-main on-desk">
<div class="inner">
  <div id="map-canvas" class="store-map"></div>
</div>
</section>