<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "units/index" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/index" %>
<script>
  function chksubmit(){
    if( $("#select-region").val() == 0 ){
      popAlert("請選擇區域。");
      return false;
    }
  }
</script>
<% end %>
<% @page = "index" %>

<section class="section-scene section-scene1">
  <div class="swiper-container bg-slider">
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style='background-image: url("/images/bg-index.jpg");' ></div>
      <div class="swiper-slide" style='background-image: url("/images/temp/bg-index2.jpg");' ></div>
      <div class="swiper-slide" style='background-image: url("/images/temp/bg-index3.jpg");' ></div>
    </div>
  </div>
  <div class="slogan">
    <div class="circle"></div>
    <div class="content">
      <img class="img-slogan" src="/images/img-slogan.png" alt="分享美味 分享歡樂 盡在古拉爵">
      <p class="style-font-times goto-scene2"><i class="shape-line"></i><span>SCROLL</span><i class="shape-line"></i></p>
      <i class="module-icon icon-scroll on-desk goto-scene2"></i>
      <i class="module-icon icon-scroll-m on-mobile goto-scene2"></i>
    </div>
  </div>
</section>

<section class="section-scene section-scene2">
  <h2 class="title style-frame style-fadescroll status-off">
    <p class="style-spfont">Anche l’occhio vuole la sua parte</p>
    <p class="append-text"><span class="br">古拉爵義式佳餚</span><span class="br">餐桌上賞心悅目的迷人風景</span></p>
    <p class="append-right"><i class="shape-line"></i>義大利俗諺：眼睛也要他那一份</p>
  </h2>
  <ul class="entrance-list clearfix">
    <li class="entrance-item style-fadescroll status-off">
      <div class="bg" style='background-image: url("/images/bg-entrance-1.jpg");' ></div>
      <div class="inner">
        <img src="/images/icon-plate.svg" alt="">
        <h3 class="title-decoline"><span class="deco"><i class="shape-dia"></i><i class="shape-line"></i></span><span class="text">美味菜單</span><span class="deco"><i class="shape-dia"></i><i class="shape-line"></i></span></h3>
        <p><span class="br">多樣化的義大利料理、</span><span class="br">豐富的套餐選擇，</span><br><span class="br">快邀請好友一起來探索，</span><span class="br">享受美食。</span></p>
        <div class="btn-wrap">
          <a href="/views/menu/meal-index.html" class="btn-more">
            <span class="style-font-times">MORE<br><i class="fa fa-angle-up" aria-hidden="true"></i></span>
          </a>
        </div>
      </div>
    </li>

    <li class="entrance-item style-fadescroll status-off">
      <div class="bg" style='background-image: url("/images/bg-entrance-2.jpg");' ></div>
      <div class="inner">
        <img src="/images/icon-news.svg" alt="">
        <h3 class="title-decoline"><span class="deco"><i class="shape-dia"></i><i class="shape-line"></i></span><span class="text">美食快報</span><span class="deco"><i class="shape-dia"></i><i class="shape-line"></i></span></h3>
        <p><span class="br">美味新上市、</span><span class="br">超值優惠、</span><span class="br">新店開幕，</span><br><span class="br">第一手消息絕不錯過！</span></p>
        <div class="btn-wrap">
          <a href="/views/news/news-list.html" class="btn-more">
            <span class="style-font-times">MORE<br><i class="fa fa-angle-up" aria-hidden="true"></i></span>
          </a>
        </div>
      </div>
    </li>

    <li class="entrance-item style-fadescroll status-off">
      <div class="bg" style='background-image: url("/images/bg-entrance-3.jpg");' ></div>
      <div class="inner">
        <img src="/images/icon-pizza.svg" alt="">
        <h3 class="title-decoline"><span class="deco"><i class="shape-dia"></i><i class="shape-line"></i></span><span class="text">古拉爵</span><span class="deco"><i class="shape-dia"></i><i class="shape-line"></i></span></h3>
        <p><span class="br">Grazie誕生於2003年，</span><span class="br">時尚華麗的內裝、</span><span class="br">不斷創新的料理，</span><span class="br">我們以誠摯的服務迎接每一位貴賓。</span></p>
        <div class="btn-wrap">
          <a href="/views/about/about-index.html" class="btn-more">
            <span class="style-font-times">MORE<br><i class="fa fa-angle-up" aria-hidden="true"></i></span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="section-scene section-scene3">
  <h2 class="title style-leaf style-fadescroll status-off"><span class="style-spfont">About Cafe Grazie</span></h2>
  <p class="append-text style-fadescroll status-off">Grazie 取自義大利文「謝謝」意思，<br>想表達對於每一位來店的顧客都保持著「感謝」的心。</p>
  <div class="find-store style-fadescroll status-off" style='background-image: url("/images/bg-map.jpg");' >
    <form class="search-wrap style-fadescroll status-off" action="/views/store/store-list.html" >
      <p class="title">查詢附近門市</p>
      <div class="select-wrap">
        <select name="region" id="select-region">
          <option value="0">請選擇區域</option>
          <option value="1">台北市</option>
          <option value="2">新北市</option>
          <option value="9">高雄市</option>
        </select>
      </div>
      <button class="style-round color-white" onclick="return chksubmit();">搜尋</button>
    </form>
  </div>
</section>

<section class="section-scene section-scene4">
  <div class="content-wrap style-fadescroll status-off">
    <h2 class="title style-spfont">Contact Us</h2>
    <p>歡迎隨時與我們聯繫，<span class="br">期待與您見面！</span></p>
    <a href="/views/contact/contact-index.html" class="style-round">聯絡我們</a>
  </div>
  <div class="img-wrap clearfix style-fadescroll status-off">
    <img src="/images/img-contact-l.png" alt="">
    <img src="/images/img-contact-r.png" alt="">
  </div>
</section>
