@import "../initial";

.section-about{
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  margin: 0 auto;
  background: url("/images/bg-about.png") top center no-repeat;
  @include background-size(100%);

  @media (max-width: 1024px){
    padding-top: 100px;
    padding-bottom: 50px;
    background-position: top center;
    @include background-size(contain);
  }
  .large-title-ch{
    margin-bottom: 170px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 50px;
    }
  }
  h3{
    color: $color-gold;
    font-size: 24px;
    letter-spacing: 8px;
    @media screen and (max-width: 1366px) {
      font-size: 18px;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
  .img-wrap{
    max-width: 100%;
    padding: 4px;
    margin-left: -4px;
    border: 1px solid $color-gold;
    img{
      display: block;
      max-width: 100%;
    }
  }
  .row{
    position: relative;
    margin-left: 5px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 2;
    @media screen and (max-width: 1366px) {
      font-size: 15px;
      letter-spacing: 1px;
    }
    &.main-content{
      padding-left: 65px;
      padding-right: 65px;
      @media screen and (max-width: 1366px) {
        padding-left: 40px;
        padding-right: 40px;
      }
      @media screen and (max-width: 1024px) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    .col{
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 30%;
      margin-left: -5px;
      @media screen and (max-width: 1366px) {
        width: 25%;
      }
      &.main-content{
        text-align: left;
        width: 40%;
        padding-left: 85px;
        padding-right: 85px;
        @media screen and (max-width: 1366px) {
          width: 50%;
          padding-left: 40px;
          padding-right: 40px;
        }
        @media screen and (max-width: 1024px) {
          width: 100%;
          margin-left: 0;
          padding-left: 20px;
          padding-right: 20px;
        }
        p{
          padding-bottom: 2em;
          @media screen and (max-width: 1024px) {
            padding-left: 5px;
            padding-right: 5px;
          }
        }
        .img-wrap:last-child{
          padding: 15px;
          margin-left: -15px;
          margin-top: 85px;
          margin-bottom: 40px;
          @media screen and (max-width: 1024px) {
            max-width: 520px;
            margin-top: 0;
            padding: 6px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
          }
        }
        .img-wrap:not(:last-child){
          max-width: 520px;
          padding: 0 4px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 1em;
          @include transform(translate(-1px, 0px));
          &:nth-of-type(1){
            img{
              @include transform(translate(12px, 12px));
            }
          }
          &:nth-of-type(2){
            img{
              @include transform(translate(12px, -12px));              
            }
          }
          &:nth-of-type(3),&:nth-of-type(4){
            img{
              @include transform(translate(-12px, -12px));
            }
          }
        }
      }
      &:first-child{
        padding-left: 50px;
        padding-top: 55px;
        .img-wrap{
          &:nth-child(1){
            margin-bottom: 235px;
            @include transform(translate(-10px, -10px));
            img{
              @include transform(translate(20px, 20px));
            }
          }
          &:nth-child(2){
            margin-left: 0;
            img{
              @include transform(translate(-20px, -20px));
            }
          }
        }
      }
      &:last-child{
        padding-right: 50px;
        padding-top: 275px;
        .img-wrap{
          margin-left: 0;
          &:nth-child(1){
            margin-bottom: 160px;
            @include transform(translate(-10px, 10px));
            img{
              @include transform(translate(20px, -20px));
            }
          }
          &:nth-child(2){
            @include transform(translate(0px, 10px));
            img{
              @include transform(translate(-20px, -20px));
            }
          }
        }
      }
    }
  }
}