@import "../initial";

.section-contact{
  text-align: center;
  padding-top: 220px;

  margin: 0 auto;
  background: url("/images/bg-contact.png") top center no-repeat;
  @include background-size(100%);

  @media (max-width: 1024px){
    padding-top: 100px;
    background-position: top center;
    @include background-size(contain);
  }
  .large-title-ch{
    margin-bottom: 165px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 40px;
    }
  }
  p.msg{
    text-align: left;
    width: 40%;
    margin: 0 auto;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 2;
    padding-bottom: 2em;
    @media screen and (max-width: 1024px) {
      width: 100%;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 15px;
      letter-spacing: 1px;
      line-height: 1.6;
      padding-bottom: 0;
      padding-top: 0.3em;
    }
  }
  img.on-mobile{
    display: block;
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 520px;
    margin: 0 auto;
    @include transform(translate(2%, 0px));
  }
  img.on-desk{
    display: block;
    margin-left: -5%;
    max-width: 105%;
  }
  .row{
    position: relative;
    padding: 2em 1em;
    margin-top: -4em;
    background-color: black;
    color: $color-gold;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 3px;
    @media screen and (max-width: 1280px) {
      margin-top: -2em;
    }
    @media screen and (max-width: 1024px) {
      padding: 3em 1em 1.5em 1em;
      margin-top: -1.5em;
      font-size: 17px;
      letter-spacing: 1px;
      z-index: 0;
    }
  }
  form{
    display: block;
    font-size: 20px;
    padding: 1em 2em;
    background-color: $color-orange;
    @media screen and (max-width: 1024px) {
      font-size: 14px;
      padding-left: 25px;
      padding-right: 25px;
    }
    .form-block{
      max-width: 995px;
      margin: 0 auto;
      text-align: left;
    }
    button.style-round.color-white{
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 220px;
      &:hover,&:active{
        color: $color-orange;    
      }
      @media screen and (max-width: 1024px) {
        width: 170px;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}