@import "../initial";

  /* outside layout-view */
  .edm{
    display: block;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    z-index: 99;

    @media (max-width: 480px){
      left: 0;
      height: 100vh;
      z-index: 100;
      padding: 0;
      z-index: 102;
      @include transition( all 0.3s ease-in-out );
    }

    .is-openmenu &{
      z-index: 99;
    }
    .iconwrap-zoom{
      cursor: pointer;
      pointer-events: auto !important;
      position: absolute;
      top: 0;
      right: 0;
      border: 20px solid $color-gray;
      background-color: $color-gray;
      border-left-width: 10px;
      border-bottom-width: 10px;
      z-index: 1;
      opacity: 1;
    }
    .icon-zoom{
    // @include transition( all 0.3s ease-in-out);
  }
  &>a{
  }
  img{
    width: 340px;
    max-width: 100%;
    border: 20px solid $color-gray;
    border-top-width: 10px;
    float: right;
    @include transition( all 0.3s ease-in-out );
    z-index: 0;
    opacity: 1;
    @media (max-width: 1280px){
      width: 200px;
    }
    @media (max-width: 480px){
      display: none;
    }
  }
  .img-xs{
    display: none;
    @media (max-width: 480px){
      display: block;
      width: 100%;
      float: right;
      background-color: $color-gray;
      border: 20px solid $color-gray;
      height: 100%;
      z-index: 0;
      opacity: 1;
      background-repeat: no-repeat;
      background-position: center center;
      @include background-size(contain);
      @include transition( all 0.3s ease-in-out );
    }
  }
  &.is-slideup{
    pointer-events: none;
    height: 10vh;
    img{
      width: 0;
      opacity: 0;
    }
    .img-xs{
      width: 20%;
      opacity: 0;
      visibility: hidden;
    }
    .icon-zoom{
      // @include transform(rotate(180deg));
      @include transform(scale3d(-1, -1, 1));
    }
  }
}

.tag-career{
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
  @media (max-width: 1024px){
    right: 0;
    bottom: 10px;
  }
  &.style-stick{
    position: absolute;
    bottom: 80px;
    @media (max-width: 1024px){
      bottom: 75px;
    }
  }

  img{
    @media (max-width: 1024px){
      max-width: 100px;
    }    
  }
}

/*layout-view*/.index{
  text-align: center;
}

.section-scene1{
  position: relative;
  width: 100%;
  border: 20px solid $color-gray;
  overflow: hidden;
  @media (max-width: 1024px){
    border-width: 10px;
  }
  &, & .swiper-slide{
    height: 100vh;
    min-height: 540px;
    // background: url("http://dummyimage.com/1920x1920/666/888") center no-repeat $color-gray;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-gray; 
    @include background-size(cover);
    @media (max-width: 1024px){
      border-width: 10px;
      min-height: 320px;
    }
  }
  .swiper-container.bg-slider{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
    min-height: 160px;
  }
  .slogan{
    position: relative;
    margin-top: -190px;
    z-index: 2;
    @media (max-width: 1024px){
      margin-top: -95px;
    }
    .circle{
      width: 380px;
      height: 380px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba(221, 97, 0, 0.8);
      @include border-radius(50%);
      @media (max-width: 1024px){
        width: 190px;
        height: 190px;
      }
    }
    .content{
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      text-align: center;
      color: white;
      padding-top: 90px;
      @media (max-width: 1024px){
        padding-top: 45px;
      }
      .img-slogan{
        width: 540px;
        margin-left: 5px;
        @media (max-width: 1024px){
          width: 270px;
          max-width: 100%;
          margin-left: 3px;
        }
      }
      p{
        padding-top: 30px;
        padding-bottom: 15px;
        letter-spacing: 3px;
        font-size: 14px;
        span{
          display: inline-block;
          padding-left: 3px;
        }
        @media (max-width: 1024px){
          padding-top: 12px;
          padding-bottom: 8px;
          font-size: 12px;
        }
      }
      .shape-line{
        height: 1px;
        width: 45px;
        margin-left: 8px;
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        background-color: white;
        opacity: 0.5;
        @media (max-width: 1024px){
          width: 25px;
          margin-left: 4px;
          margin-right: 4px;          
        }
      }
    }
  }
}

.section-scene2{
  padding-top: 80px;
  padding-bottom: 60px;
  @media (max-width: 1024px){
    padding-bottom: 0;
    padding-top: 30px;
  }
}

.entrance-list{
  max-width: 1380px;
  margin: 0 auto;
  @media (max-width: 1380px){
    width: 100%;
    margin: initial;
  }
}
.entrance-item{
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
  width: 33.33%;
  @media (max-width: 1024px){
    float: none;
    width: initial;
    max-width: 768px;
    // min-width: 280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
  &::before{
    content: '';
    display: block;
    padding-top: 135%;
    min-height: 390px;
    @media (max-width: 1024px){
      content: none;
    }
  }
  &:nth-child(3){
    .inner{
      img{
        height: 55px;
        margin-top: -5px;
        @media (max-width: 1280px){
          height: 40px;
        }
      }
      .title-decoline{
        span.text{
          width: 5em;
        }
      }
    }
  }

  .bg{
    background: url("http://dummyimage.com/768x768/666/888") center no-repeat black;
    @include background-size(cover);
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    left: 25px;
    @media (max-width: 1024px){
      left: 20px;
      right: 20px;
    }
  }

  .inner{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    left: 25px;
    padding-top: 90px;
    @include transition(background-color 0.6s 0.1s ease);
    @media (max-width: 1280px){
      padding-top: 50px;
    }
    @media (max-width: 1024px){
      position: relative;
      height: 390px;
      top: initial;
      bottom: initial;
      right: initial;
      left: initial;
    }

    &:hover{
      background-color: rgba(0,0,0,0.5);
      .btn-more{
        background-color: white;
        span{
          margin-top: -72px;
          @media (max-width: 1280px){
            margin-top: -62px;
          }
        }
      }
    }

    img{
      display: inline-block;
      height: 50px;
      @media (max-width: 1280px){
        height: 35px;
      }
    }

    p{
      padding-left: 45px;
      padding-right: 45px;
      font-size: 17px;
      letter-spacing: 2px;
      line-height: 1.5;
      @media (max-width: 1280px){
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .btn-wrap{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding-bottom: 60px;
      @media (max-width: 1280px){
        padding-bottom: 40px;
      }
    }
    .btn-more{
      display: inline-block;
      border: 1px solid white;
      @include border-radius(50%);
      width: 80px;
      height: 80px;
      line-height: 78px;
      color: white;
      letter-spacing: 3px;
      padding-left: 3px;
      font-size: 15px;
      font-weight: 500;
      overflow: hidden;
      @include transition(background-color 0.3s ease);
      @media (max-width: 1280px){
        width: 70px;
        height: 70px;
        line-height: 68px;
        font-size: 13px;
        left: 2px;
        padding-left: 2px;
      }
      span{
        display: block;
        @include transition(margin 0.5s ease);
      }
      i{
        font-size: 40px;
        color: black;
        @media (max-width: 1280px){
          font-size: 35px;
        }
      }
    }
  }
}
.title-decoline{
  width: 100%;
  font-size: 27px;
  line-height: 1;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  display: table;
  @media (max-width: 1280px){
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 1024px){
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  span{
    display: table-cell;
    &:first-child{
      text-align: right;
    }
    &:last-child{
      text-align: left;
    }
  }
  .text{
    letter-spacing: 5px;
    padding-left: 5px;
    width: 6em;
    @media (max-width: 1024px){
      letter-spacing: 4px;
      padding-left: 4px;
    }
  }
  .deco{
    position: relative;
    .shape-dia{
      display: inline-block;
      width: 3px;
      height: 3px;
      background-color: white;
      @include transform(rotate(45deg));
      vertical-align: middle;
      margin-top: -4px;
      @media (max-width: 1024px){
        margin-top: -1.5px;
      }
    }

    .shape-line{
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.section-scene3{
  padding-top: 80px;
  overflow: hidden;
  // padding-bottom: 80px;
  @media (max-width: 1024px){
    padding-top: 0;
    padding-bottom: 20px;
  }
  .append-text{
    line-height: 1.8;
    letter-spacing: 4px;
    padding-left: 4px;
    margin-bottom: 70px;
    @media (max-width: 1024px){
      margin-bottom: 30px;
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }
}

.find-store{
  background: url("http://dummyimage.com/1920x565/666/888") center no-repeat;
  @include background-size(cover);
  padding-top: 150px;
  padding-bottom: 150px;
  @media (max-width: 1024px){
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .search-wrap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: rgba(221, 97, 0, 0.9);
    @media (max-width: 1024px){
      width: 250px;
      padding-top: 15px;
      padding-bottom: 30px;
      padding-left: 25px;
      padding-right: 25px;
    }
    .title{
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1.4;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 40px;
      @media (max-width: 1024px){
        font-size: 22px;
        padding-bottom: 30px;
      }
      padding-right: 1em;
    }
    .select-wrap{
      @media (max-width: 1024px){
        width: 100%;
      }
    }
    select{
      display: block;
      width: 265px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      @media (max-width: 1024px){
        width: 100%;
      }
    }
    button{
      margin-top: 50px;
      @media (max-width: 1024px){
        margin-top: 40px;
      }
    }
  }
}

.section-scene4{
  overflow: hidden;
  padding-top: 100px;
  @media (max-width: 1024px){
    padding-top: 15px;
  }
  .title{
    color: $color-gold;
    font-size: 40px;
    font-weight: normal;
    font-style: italic;
    // padding-bottom: 10px;
    @media (max-width: 1024px){
      font-size: 20px;
    }
  }
  p{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 1.4;
    padding-left: 6px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    @media (max-width: 1024px){
      font-size: 18px;
      letter-spacing: 4px;
      padding-left: 4px;
    }
  }
  a{

  }
  .content-wrap{
    position: relative;
    z-index: 1;
  }
  .img-wrap{
    position: relative;
    z-index: 0;
    margin-top: -5%;
  }
  img{
    width: 45%;
    display: inline-block;
    vertical-align: bottom;
    pointer-events: none;
    @media (max-width: 1024px){
      width: 70%;
    }
    &:first-child{
      float: left;
      margin-left: -3.5%;
      @media (max-width: 1024px){
        margin-left: -20%;
      }
    }
    &:last-child{
      float: right;
      margin-right: -4%;
      margin-top: -3%;
      @media (max-width: 1024px){
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        margin-right: -10%;
        z-index: -1;
      }
    }
  }
}
#footer{
  margin-top: -70px;
  position: relative;
  @media (max-width: 768px){
    margin-top: -20px;
  }
}