@import "../initial";


/******************/
/* MEAL LIST PAGE */
/******************/


/*.layout-view*/.meal-index section.on-desk{
  position: relative;
  padding-left: 105px;
  padding-right: 240px;
  @media (max-width: 1280px){
    padding-right: 120px;
  }
  
  p{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
  &.style-relative{
    padding-right: 0;
    padding-left: 0;
  }
}
.helper{
  font-size: 13px;
  line-height: 1.3;
  color: #666;
  .br{
    padding-right: 1em;
  }
}
.meal-banner{
  z-index: 0;
  img{
    width: 100%;
  }
  .meal-index &{
    padding-top: 75px;
  }
  .style-relative &{     
    @include transform(translate(100px, 0px));
    &+.helper{
      @include transform(translate(100px, 0px));      
    }
  }
}

.meal-list{ 
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 160px;
  width: 340px;
  background-color: rgba(228, 110, 25, 0.9);
  background-image: url("/images/img-pillar-1.png");
  background-repeat: no-repeat;
  background-position: bottom 190px left 150px;
  @include background-size(contain);

  @media (max-height: 900px){
    bottom: 130px;
  }
  @media (max-width: 1280px){
    width: 240px;
    background-position: bottom 100px left 100px;
  }
  .style-relative &{
    // more than 5 items
    position: relative;
    float: right;
    bottom: initial;
    padding-top: 260px;
    padding-bottom: 1em;
    margin-bottom: 160px;
    @media screen and (max-width: 1680px) {
     padding-top: 150px; 
    }
    @media screen and (max-width: 1280px) {
      padding-top: 75px;
    }
    .meal-list-inner{
      position: relative;
      bottom: initial;
      left: initial;
      right: initial;
      padding-bottom: 0;
    }
  }
}

.meal-list-inner{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 34px;
  letter-spacing: 4px;
  padding-right: 120px;
  padding-bottom: 0.5em;

  @media (max-height: 768px){
    font-size: 26px;
  }
  @media (max-width: 1440px){
    padding-right: 60px;
    font-size: 26px;
  }

  li{
    padding-left: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1em;
    cursor: pointer;
    @include transition( background-color 0.3s ease-in-out , color 0.3s ease-in-out );
    @media (max-height: 768px){
      margin-bottom: 0.8em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media (max-width: 1280px){
      margin-bottom: 0.8em;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
    &:hover{
      background-color: white;
      color: $color-orange;
    }
  }
}

/*.layout-view*/.meal-index section.on-mobile{
  padding-bottom: 55px;
  padding-top: 80px;

  .btn-wrap{
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 40px;
    padding-right: 40px;
  }
  p{
    max-width: 768px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
  }
}

.meal-list-m{
  max-width: 768px;
  margin: 0 auto;
  text-align: right;
  li{
    padding-bottom: 1em;
  }
  .btn{
    display: inline-block;
    text-align: left;
    background-color: rgba(228, 110, 25, 0.9);
    padding: 10px;
    width: 44%;
    min-width: 7em;
    font-size: 17px;
    letter-spacing: 2px;
    @include transform(translate(0px, -50%));
    i{
      float: right;
      opacity: 0.5;
    }
  }
  img{
    max-width: 100%;
    display: block;
  }
}

/*************************/
/* END OF MEAL LIST PAGE */
/*************************/



/**********************/
/* MENU OVERVIEW PAGE */
/**********************/


.section-main{
  position: relative;
  z-index: 0;
  padding-right: 500px;
  background: url("/images/bg-menu.png") top left no-repeat;
  @include background-size(83%);
  @media (max-width: 1440px){
    padding-right: 360px;
  }
  @media (max-width: 1280px){
    padding-right: 300px;
  }
  @media (max-width: 1024px){
    padding-right: 0;
    padding-bottom: 60px;
    background-position: top center;
    @include background-size(contain);
  }

  &>.btn-wrap{
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 20px;
    z-index: 9;
    .module-btn{
      background-color: $color-gray;
    }
  }
}
.meal-footer{
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  font-size: 15px;
  &.style-stick{
    position: absolute;
    width: 100%;
  }
  .swiper-button-prev,.swiper-button-next{
    background: none;
    color: #bbb;
    width: 20px;
    height: 40px;
  }
  .swiper-button-prev{
    text-align: left;
    left: 0;
    padding-left: 5px;
  }
  .swiper-button-next{
    text-align: right;
    right: 0;
    padding-right: 5px;
  }
  .swiper-slide{
    cursor: pointer;
    span{
      padding-left: 5px;
      padding-right: 5px;
      white-space: nowrap;
    }
  }
  .swiper-slide.is-active{
    color: $color-orange;
    span{
      border-bottom: 1px solid $color-orange;
    }
  }
}


.main-foodlist{
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  width: 50%;
  width: calc(100% - 240px);
  text-align: center;
  padding-top: 220px;
  @media (max-width: 1024px){
    padding-top: 100px;
    margin-left: 0;
    width: 100%;
  }
  @media (max-width: 480px){
    padding-left: 10px;
    padding-right: 10px;
  }

  .category-name{
    padding-top: 70px;
    padding-bottom: 30px;
    color: $color-gold;
    font-size: 24px;
    letter-spacing: 4px;
    font-style: italic;
    @media (max-width: 1024px){
      font-size: 16px;
      padding-top: 40px;
      padding-bottom: 15px;
    }
    .style-spfont{
      font-size: 40px;
      padding-right: 0.5em;
      letter-spacing: 0;
      font-weight: normal;
      @media (max-width: 1024px){
        font-size: 24px;
      }
    }
  }

  .category-info{
    display: inline-block;
    color: $color-gold;
    border-top: 1px solid $color-gold;
    border-bottom: 1px solid $color-gold;
    white-space: nowrap;
    &::before,&::after{
      vertical-align: middle;
      display: inline-block;
      width: 10px;
      height: 32px;
      margin-top: -1px;
    }
    &::before{
      content: url("/images/ribbon-o-left.svg");
    }
    &::after{
      content: url("/images/ribbon-o-right.svg");
    }
    span{
      vertical-align: middle;
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em;
      white-space: nowrap;
      letter-spacing: 2px;
      font-size: 14px;
      @media (max-width: 768px){
        font-size: 13px;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
    + .category-alert{
      padding-top: 50px;
      @media screen and (max-width: 1024px) {
        padding-top: 35px;
      }
    }
    
  }
  .category-alert{
    padding-top: 20px;
    img{
      max-width: 100%;
      &.on-desk{
        width: 100%;
      }
      &.on-mobile{
        width: 280px;
      }
    }
  }
}

.food-list{
  padding-top: 50px;
  margin-left: 5px;
  @media (max-width: 480px){
    margin-left: 0;
  }
}

.food-item{
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  padding-bottom: 60px;
  padding-left: 5px;
  padding-right: 5px;
  /*.style-wide*/ &{
    width: 33.33%;
    @media (max-width: 1440px){
      width: 50%;
    }
    @media (max-width: 480px){
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .style-slim &{
    width: 25%;
    @media (max-width: 1440px){
      width: 33.33%;
    }
    @media (max-width: 1280px){
      width: 50%;
    }
    @media (max-width: 480px){
      width: 100%;
    }
    .img-wrap .photo{
      @media (max-width: 1280px){
        width: 62.5%;
        margin: 0 auto;
      }
    }
  }

  .img-wrap{
    position: relative;
    margin-bottom: 30px;

    .photo{
      display: block;
      width: 100%;
    }
    .corner-mark{
      position: absolute;
      top: 10px;
      right: 15px;
      width: 76px;
      @media (max-width: 1024px){
        top: 0;
        right: 0;
      }
      img{
        display: block;
        width: 100%;
      }
    }
    .bottom-msg{
      position: absolute;
      font-size: 13px;
      bottom: -13px;
      left: 13px;
      right: 13px;
      @media (max-width: 768px){
        font-size: 12px;
        bottom: -12px;
        left: 12px;
        right: 12px;
      }
      span{
        display: inline-block;
        color: $color-gold;
        background: black;
        border: 1px solid $color-gold;
        outline: 4px solid black;
        letter-spacing: 1px;
        padding: 4px 8px;
        @media (max-width: 480px){
          padding-bottom: 2px;
        }
      }
    }
  }

  .info-wrap{ 
    color: #ccc;
    line-height: 1.3;
    .name{
      font-size: 17px;
      padding-bottom: 5px;
    }
    .append-text{
      font-size: 14px;
      padding-bottom: 5px;
    }
    .price{
      color: $color-gold;
      .style-spfont{
        font-size: 22px;
        letter-spacing: 1px;
      }
    }
  }
}


/*RIGHT SIDE MENU*/

.section-meal-info{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 80px;
  background-color: $color-orange;
  overflow-y: auto;
  // @include transition( left 0.3s ease-in-out , right 0.3s ease-in-out );
  &.is-hide{
    // display: none;
    @media (max-width: 1024px){
      left: 100%;
      right: -100%;
      @include transition( none );
    }
  }

  &,&::after,.inner{
    width: 500px;
    @media (max-width: 1440px){
      width: 360px;
    }
    @media (max-width: 1280px){
      width: 300px;
    }    
  }

  @media (max-width: 1024px){
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;

    top: 0;
    bottom: 0;
    width: initial;
  }
  &::after{
    content: '';
    display: block;
    position: fixed;
    height: 60px;
    bottom: 80px;
    right: 0;
    pointer-events: none;
    @media (max-width: 1024px){
      content: none;
    }

    @include background-image(linear-gradient(rgba(228, 110, 25, 0.001), rgba(228, 110, 25, 1)));
  }
  .inner{
    position: fixed;
    top: 0;
    bottom: 80px;
    right: 0;

    @media (max-width: 1024px){
      position: relative;
      width: 100%;
      top: initial;
      bottom: initial;
      right: initial;
    }    
  }
  .meal-banner{
    pointer-events: none;
    &::after{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 99;
      @media (max-width: 1024px){
        content: '';
      }
    }
  } 
}
.section-meal-info-top,.section-meal-info-bottom{
  position: relative;
  height: 70px;
  background: url('/images/bg-body-m.png') center top repeat #000;
}
.section-meal-info-top{
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}
.section-meal-info-bottom{
  .btn-wrap{
    @include transform(translate(0px, -1.5em));
    a{
      cursor: pointer;
    }
  }
}
.settype-list{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
  @media (max-width: 1024px){
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 1;
  }
  .settype-item{
    display: inline-block;
    margin-left: -5px;
    color: $color-brown;
    @media (max-width: 1024px){
      display: none;
      margin-left: 0;
    }
    &.is-active{
      color: white;
      @media (max-width: 1024px){
        display: inline-block;
      }
    }
    span{
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 10px;
      letter-spacing: 2px;
      cursor: pointer;
      font-weight: bold;
      @media (max-width: 1024px){
        font-weight: normal;
        padding-left: 0;
        padding-right: 0;
        cursor: auto;
      }
    }
    &:not(:last-child){

      &::after{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 1.4em;
        @include transform(rotate(45deg));
        background-color: $color-brown;
        opacity: 0.5;
        @media (max-width: 1024px){
          content: none;
        }
      }
    }
  }
}

.settype-content{
  display: none;
  &.is-active{
    display: block;
  }
}

.setname-list{
  display: table;
  position: relative;
  width: 100%;
  table-layout: fixed;
  margin-top: -3px;
  z-index: 2;
}
.setname-item{
  display: table-cell;
  background-color: white;
  color: #aaa;
  border-right: 1px solid $color-orange;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
  &.is-active{
    background-color: $color-orange;
    color: white;
  }
  &:last-child{
    border-right: 0;
  }
}
.set-inner{
  display: none;
  padding-bottom: 80px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  @media (max-width: 1440px){
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
  }

  &.is-active{
    display: block;
  }
}

.price-info{
  padding-bottom: 15px;
  .prefix{
    font-size: 27px;
    letter-spacing: 2px;
    font-weight: bold;
    @media (max-width: 1440px){
      font-size: 22px;
      letter-spacing: 1px;
    }
  }
  .style-spfont{
    font-size: 56px;
    color: $color-yellow;
    padding-left: 8px;
    padding-right: 5px;
    @media (max-width: 1440px){
      font-size: 45px;
      padding-left: 4px;
      padding-right: 2px;
    }
  }
  .suffix{
    font-size: 18px;
    font-weight: bold;
  }
  .appendix{
    font-size: 17px;
    padding-top: 10px;
    line-height: 1.3;
  }
}
.detail-info{
  color: black;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 40px;
  padding-top: 15px;
}

.ps-container{
  @media (max-width: 1024px){
    overflow: initial !important;
    touch-action: initial !important;
  }
}
.ps-scrollbar-y-rail{
  z-index: 11;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
  background-color: white;
}