@import "../initial";


/******************/
/* NEWS LIST PAGE */
/******************/


.section-news-list{
  padding-top: 220px;
  padding-bottom: 110px;
  text-align: center;
  background: url("/images/bg-news.png") top center no-repeat;
  @include background-size(100%);

  @media (max-width: 1024px){
    padding-top: 100px;
    background-position: top center;
    @include background-size(contain);
  }

}

.style-round{
  width: 190px;
  height: 45px;
  line-height: 43px;
  font-size: 16px;
}

.hotnews-list{
  position: relative;
  width: 1150px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1366px) {
    width: 800px;
  }
  @media screen and (max-width: 1024px) {
    margin-top: 50px;
  }
  .swiper-prev,.swiper-next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 60px;
    margin-top: -30px;
    @include transition(opacity 0.3s ease);
  }
  .swiper-button-disabled{
    opacity: 0.1;
  }
  .swiper-prev{
    left: -65px;
    text-align: left;
    background: url("/images/arrow-left-25x60.svg") left center no-repeat;
  }
  .swiper-next{
    right: -65px;
    text-align: right;
    background: url("/images/arrow-right-25x60.svg") right center no-repeat;
  }
  .swiper-container.hotnews-banner{
    width: 612px;
    height: 800px;
    margin: 0;
    @media screen and (max-width: 1366px){
      width: 412px;
      height: 480px;
    }
    .swiper-slide {
      width: 512px;
      height: 800px;
      background: transparent;
      @media screen and (max-width: 1366px) {
        width: 307px;
        height: 480px;
      }
      &:not(.swiper-slide-active){
        img,.img-wrap{
          opacity: 0;
        }
      }
      &.swiper-slide-next{
        .img-wrap{
          opacity: 1;
        }
        img{
          opacity: 0.2;
        }
        &+.swiper-slide{
          .img-wrap{
            opacity: 1;
          }
          img{
            opacity: 0.2;      
          }
        }

        &:last-child[style*="z-index: 1"]{
          img{
            opacity: 1;
          }
        }
      }

      &.swiper-slide-active:nth-last-child(2):not([style*="z-index: 1"]){
        img{
          opacity: 0.2;
        }
      }

      .img-wrap{
        display: inline-block;
        background-color: black;
        height: 100%;
        @include box-shadow(rgba(0, 0, 0, 0.5) 0px 5px 10px);
      }
      img{
        display: block;
        max-height: 100%;
      }
    }
  }


  .hotnews-content{
    position: absolute;
    right: 0;
    top: 125px;
    bottom: 125px;
    left: 250px;
    border: 1px solid $color-gold;
    text-align: right;
    @media screen and (max-width: 1366px) {
      top: 50px;
      bottom: 50px;
      left: 160px;
    }
    .inner{
      position: relative;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 610px;
      height: 550px;
      padding-top: 45px;
      padding-left: 125px;
      padding-right: 70px;
      @media screen and (max-width: 1366px) {
        width: 380px;
        height: 380px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .swiper-container{
        height: 100%;
        height: calc(100% + 40px);
        .swiper-slide:not(.swiper-slide-active){
          .date,.title,.describe{
            opacity: 0 !important;
          }
        }
      }
      .date{
        color: $color-gold;
        letter-spacing: 4px;
        .year{
          display: inline-block;
          font-size: 15px;
          letter-spacing: 0;
          padding-right: 4px;
        }
        .month,.day{
          font-size: 35px;
          letter-spacing: 0;
        }
      }
      .title{
        margin-top: 40px;
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: 2px;
        @include textOverflow(2);
        @media screen and (max-width: 1366px) {
          margin-top: 20px;
          font-size: 24px;
        }
      }
      .describe{
        margin-top: 30px;
        letter-spacing: 1px;
        border-top: 1px solid white;
        padding-top: 30px;
        font-size: 18px;
        line-height: 1.6;
        @include textOverflow(5);
        @media screen and (max-width: 1366px) {
          margin-top: 20px;
          font-size: 15px;
          padding-top: 15px;
        }
      }
      .btn-more{
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

}

.btn-more{
  display: block;
  width: 80px;
  height: 80px;
  background-color: #1e1e1e;
  border: 1px solid $color-gold;
  color: $color-gold;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 2px;
  line-height: 78px;
  font-size: 15px;
  @include border-radius(50%);
  @include transition(color 0.6s ease , background-color 0.6s ease);
  white-space: nowrap;
  overflow: hidden;
  @media screen and (max-width: 1024px){
    width: 70px;
    height: 70px;
    line-height: 68px;
    font-size: 13px;
  }
  &:link,&:visited{
    color: $color-gold;    
  }
  &:hover,&:active{
    background-color: $color-gold;
    i{
      color: black;
    }
    span:first-child{
      margin-left: 0;
    }
  }
  i{
    font-size: 42px;
    line-height: 75px;
    @media screen and (max-width: 1024px){
      line-height: 65px;
      font-size: 35px;
    }
  }
  span{
    display: inline-block;
    width: 78px;
    height: 78px;
    line-height: 78px;
    vertical-align: top;
    @include transition(margin 0.3s ease);
    @media screen and (max-width: 1024px){
      width: 68px;
      height: 68px;
      line-height: 68px;
    }
    &:not(:first-child){
      margin-left: -5px;
    }
    &:first-child{
      margin-left: -79px;
      @media screen and (max-width: 1024px){
        margin-left: -69px;
      }
    }
  }
}

.allnews-list{
  padding-top: 150px;
  text-align: center;
  margin-left: 5px;
  max-width: 1550px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  @media screen and (max-width: 1024px){
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  &.style-hotnews-m{

    .news-item{
      padding-top: 90px;
      padding-left: 10px;
      .title{
        @media screen and (max-width: 1024px) {
          font-size: 17px;
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 10px;
          margin-bottom: 15px;
          line-height: 1.6;

          white-space: initial;
          @include textOverflow(2);
        }
      }
      .describe{
        margin-top: 20px;
        letter-spacing: 1px;
        border-top: 1px solid white;
        padding-top: 20px;
        line-height: 1.6;
        font-size: 15px;
        @include textOverflow(5);
      }
      .img-wrap{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;
        img{
          @media screen and (max-width: 1024px){
            @include transform(translate(0px, 0px));
            margin-top: -90px;
            margin-bottom: 20px;
          }
        }
        .btn-more{
          bottom: -35px;
          margin-left: -35px;
        }
      }
    }
  }  
  .news-item{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 33.33%;
    margin-left: -5px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 110px;
    @media screen and (max-width: 1280px) {
      width: 50%;
    }
    @media screen and (max-width: 1024px){
      padding-top: 0;
      padding-bottom: 55px;
      padding-left: 35px;
      padding-right: 35px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .date{
      color: $color-gold;
      letter-spacing: 4px;
      .year{
        display: inline-block;
        font-size: 15px;
        letter-spacing: 0;
        padding-right: 4px;
        @media screen and (max-width: 1024px){
          font-size: 12px;
        }
      }
      .month,.day{
        font-size: 28px;
        letter-spacing: 0;
        @media screen and (max-width: 1024px){
          font-size: 20px;
        }
      }
    }
    .title{
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 17px;
      letter-spacing: 2px;
      @include textOverflow1;
      @media screen and (max-width: 1024px){
        padding-top: 15px;
        padding-bottom: 45px;
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
    .img-wrap{
      position: relative;
      width: 100%;
      border: 1px solid $color-gold;
      @media screen and (max-width: 1024px) {
        margin-left: 15px;
      }
      img{
        width: 100%;
        @include transform(translate(-55px, 25px));
        display: block;
        @media screen and (max-width: 1024px){
          @include transform(translate(-15px, -15px));
        }
      }
      .btn-more{
        position: absolute;
        right: -40px;
        bottom: 25px;
        @media screen and (max-width: 1024px) {
          bottom: -20px;
          left: 50%;
          margin-left: -50px;
        }
      }
    }
  }

}


/*************************/
/* END OF NEWS LIST PAGE */
/*************************/



/*************************/
/* MENU NEWS DETAIL PAGE */
/*************************/


.nav-category{
  padding-bottom: 20px;
  .module-btn.style-o{
    padding: 4px 10px;
  } 
}


.category-item{
  &:hover{
    color: $color-orange;
    font-size: 26px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.section-edm{
  width: 32%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 80px;
  text-align: right;
  overflow: auto;
  @media screen and (max-width: 1024px) {
    text-align: center;
    position: relative;
    width: 100%;
    top: initial;
    right: initial;
    bottom: initial;
    // padding-top: 80px;
    padding-top: 0;
    margin-top: 0 !important;
  }
  
  img{
    width: 100%;
    // max-width: 480px;
  }
  .btn-wrap{
    position: relative;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    height: 80px;
    .module-btn{
      position: fixed;
      top: 20px;
      right: 20px;
      background-color: $color-gray;
      z-index: 9;
    }
  }

}

.section-main{
  padding-right: 32%;
  @media screen and (max-width: 1024px) {
    padding-right: 0;
    position: relative;
  }
}

.main-newscontent{
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 80px;
  width: 50%;
  width: calc(100% - 240px);
  padding-top: 80px;
  @media screen and (max-width: 1680px) {
    padding-left: 160px;
    padding-right: 160px;
  }
  @media screen and (max-width: 1440px) {
    padding-left: 110px;  
    padding-right: 40px;
  }
  @media (max-width: 1024px){
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 0;
    width: 100%;
    padding-bottom: 100px;
  }
  @media (max-width: 480px){
    padding-left: 20px;
    padding-right: 20px;
  }

  .date{
    color: $color-gold;
    letter-spacing: 10px;
    @media screen and (max-width: 1024px) {
      letter-spacing: 4px;
    }
    .year{
      display: inline-block;
      font-size: 15px;
      letter-spacing: 0;
      padding-right: 4px;
      @media screen and (max-width: 1024px) {
        font-size: 12px;
      }
    }
    .month,.day{
      font-size: 35px;
      letter-spacing: 0;
      @media screen and (max-width: 1024px) {
        font-size: 20px;
      }
    }
  }
  .title{
    margin-top: 20px;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 2px;

    @media screen and (max-width: 1366px) {
      margin-top: 20px;
      font-size: 24px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 18px;
    }
  }
  .describe{
    margin-top: 25px;
    letter-spacing: 1px;
    border-top: 1px solid white;
    padding-top: 15px;
    font-size: 18px;
    line-height: 1.8;

    @media screen and (max-width: 1366px) {
      margin-top: 20px;
      font-size: 15px;
      padding-top: 15px;
    }
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
    p{
      +p{
        padding-top: 1.8em;
      }
    }
    img{
      display: block;
      max-width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
      @media screen and (max-width: 1024px) {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
  .btn-wrap{
    padding-top: 80px;
    @media screen and (max-width: 1024px) {
      padding-top: 60px;
    }
    .style-round{
      margin-left: 0;
      margin-right: initial;
      @media screen and (max-width: 1024px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
  background-color: white;
}