.section-about {
  text-align: center;
  padding-top: 220px;
  padding-bottom: 100px;
  margin: 0 auto;
  background: url("/images/bg-about.png") top center no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .section-about {
    padding-top: 100px;
    padding-bottom: 50px;
    background-position: top center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
.section-about .large-title-ch {
  margin-bottom: 170px;
}
@media screen and (max-width: 1024px) {
  .section-about .large-title-ch {
    margin-bottom: 50px;
  }
}
.section-about h3 {
  color: #d3b181;
  font-size: 24px;
  letter-spacing: 8px;
}
@media screen and (max-width: 1366px) {
  .section-about h3 {
    font-size: 18px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
.section-about .img-wrap {
  max-width: 100%;
  padding: 4px;
  margin-left: -4px;
  border: 1px solid #d3b181;
}
.section-about .img-wrap img {
  display: block;
  max-width: 100%;
}
.section-about .row {
  position: relative;
  margin-left: 5px;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 2;
}
@media screen and (max-width: 1366px) {
  .section-about .row {
    font-size: 15px;
    letter-spacing: 1px;
  }
}
.section-about .row.main-content {
  padding-left: 65px;
  padding-right: 65px;
}
@media screen and (max-width: 1366px) {
  .section-about .row.main-content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .section-about .row.main-content {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.section-about .row .col {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-left: -5px;
}
@media screen and (max-width: 1366px) {
  .section-about .row .col {
    width: 25%;
  }
}
.section-about .row .col.main-content {
  text-align: left;
  width: 40%;
  padding-left: 85px;
  padding-right: 85px;
}
@media screen and (max-width: 1366px) {
  .section-about .row .col.main-content {
    width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .section-about .row .col.main-content {
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.section-about .row .col.main-content p {
  padding-bottom: 2em;
}
@media screen and (max-width: 1024px) {
  .section-about .row .col.main-content p {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.section-about .row .col.main-content .img-wrap:last-child {
  padding: 15px;
  margin-left: -15px;
  margin-top: 85px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .section-about .row .col.main-content .img-wrap:last-child {
    max-width: 520px;
    margin-top: 0;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
}
.section-about .row .col.main-content .img-wrap:not(:last-child) {
  max-width: 520px;
  padding: 0 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  -moz-transform: translate(-1px, 0px);
  -ms-transform: translate(-1px, 0px);
  -webkit-transform: translate(-1px, 0px);
  transform: translate(-1px, 0px);
}
.section-about .row .col.main-content .img-wrap:not(:last-child):nth-of-type(1) img {
  -moz-transform: translate(12px, 12px);
  -ms-transform: translate(12px, 12px);
  -webkit-transform: translate(12px, 12px);
  transform: translate(12px, 12px);
}
.section-about .row .col.main-content .img-wrap:not(:last-child):nth-of-type(2) img {
  -moz-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  -webkit-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
.section-about .row .col.main-content .img-wrap:not(:last-child):nth-of-type(3) img, .section-about .row .col.main-content .img-wrap:not(:last-child):nth-of-type(4) img {
  -moz-transform: translate(-12px, -12px);
  -ms-transform: translate(-12px, -12px);
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
}
.section-about .row .col:first-child {
  padding-left: 50px;
  padding-top: 55px;
}
.section-about .row .col:first-child .img-wrap:nth-child(1) {
  margin-bottom: 235px;
  -moz-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
}
.section-about .row .col:first-child .img-wrap:nth-child(1) img {
  -moz-transform: translate(20px, 20px);
  -ms-transform: translate(20px, 20px);
  -webkit-transform: translate(20px, 20px);
  transform: translate(20px, 20px);
}
.section-about .row .col:first-child .img-wrap:nth-child(2) {
  margin-left: 0;
}
.section-about .row .col:first-child .img-wrap:nth-child(2) img {
  -moz-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  -webkit-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}
.section-about .row .col:last-child {
  padding-right: 50px;
  padding-top: 275px;
}
.section-about .row .col:last-child .img-wrap {
  margin-left: 0;
}
.section-about .row .col:last-child .img-wrap:nth-child(1) {
  margin-bottom: 160px;
  -moz-transform: translate(-10px, 10px);
  -ms-transform: translate(-10px, 10px);
  -webkit-transform: translate(-10px, 10px);
  transform: translate(-10px, 10px);
}
.section-about .row .col:last-child .img-wrap:nth-child(1) img {
  -moz-transform: translate(20px, -20px);
  -ms-transform: translate(20px, -20px);
  -webkit-transform: translate(20px, -20px);
  transform: translate(20px, -20px);
}
.section-about .row .col:last-child .img-wrap:nth-child(2) {
  -moz-transform: translate(0px, 10px);
  -ms-transform: translate(0px, 10px);
  -webkit-transform: translate(0px, 10px);
  transform: translate(0px, 10px);
}
.section-about .row .col:last-child .img-wrap:nth-child(2) img {
  -moz-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  -webkit-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

/*# sourceMappingURL=about.css.map */
