.section-contact {
  text-align: center;
  padding-top: 220px;
  margin: 0 auto;
  background: url("/images/bg-contact.png") top center no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .section-contact {
    padding-top: 100px;
    background-position: top center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
.section-contact .large-title-ch {
  margin-bottom: 165px;
}
@media screen and (max-width: 1024px) {
  .section-contact .large-title-ch {
    margin-bottom: 40px;
  }
}
.section-contact p.msg {
  text-align: left;
  width: 40%;
  margin: 0 auto;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 2;
  padding-bottom: 2em;
}
@media screen and (max-width: 1024px) {
  .section-contact p.msg {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.6;
    padding-bottom: 0;
    padding-top: 0.3em;
  }
}
.section-contact img.on-mobile {
  display: block;
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
  -moz-transform: translate(2%, 0px);
  -ms-transform: translate(2%, 0px);
  -webkit-transform: translate(2%, 0px);
  transform: translate(2%, 0px);
}
.section-contact img.on-desk {
  display: block;
  margin-left: -5%;
  max-width: 105%;
}
.section-contact .row {
  position: relative;
  padding: 2em 1em;
  margin-top: -4em;
  background-color: black;
  color: #d3b181;
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 3px;
}
@media screen and (max-width: 1280px) {
  .section-contact .row {
    margin-top: -2em;
  }
}
@media screen and (max-width: 1024px) {
  .section-contact .row {
    padding: 3em 1em 1.5em 1em;
    margin-top: -1.5em;
    font-size: 17px;
    letter-spacing: 1px;
    z-index: 0;
  }
}
.section-contact form {
  display: block;
  font-size: 20px;
  padding: 1em 2em;
  background-color: #e46e19;
}
@media screen and (max-width: 1024px) {
  .section-contact form {
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.section-contact form .form-block {
  max-width: 995px;
  margin: 0 auto;
  text-align: left;
}
.section-contact form button.style-round.color-white {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 220px;
}
.section-contact form button.style-round.color-white:hover, .section-contact form button.style-round.color-white:active {
  color: #e46e19;
}
@media screen and (max-width: 1024px) {
  .section-contact form button.style-round.color-white {
    width: 170px;
    font-size: 18px;
    font-weight: bold;
  }
}

/*# sourceMappingURL=contact.css.map */
