/* outside layout-view */
.edm {
  display: block;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  z-index: 99;
}
@media (max-width: 480px) {
  .edm {
    left: 0;
    height: 100vh;
    z-index: 100;
    padding: 0;
    z-index: 102;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.is-openmenu .edm {
  z-index: 99;
}
.edm .iconwrap-zoom {
  cursor: pointer;
  pointer-events: auto !important;
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid #1a1a1a;
  background-color: #1a1a1a;
  border-left-width: 10px;
  border-bottom-width: 10px;
  z-index: 1;
  opacity: 1;
}
.edm img {
  width: 340px;
  max-width: 100%;
  border: 20px solid #1a1a1a;
  border-top-width: 10px;
  float: right;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  opacity: 1;
}
@media (max-width: 1280px) {
  .edm img {
    width: 200px;
  }
}
@media (max-width: 480px) {
  .edm img {
    display: none;
  }
}
.edm .img-xs {
  display: none;
}
@media (max-width: 480px) {
  .edm .img-xs {
    display: block;
    width: 100%;
    float: right;
    background-color: #1a1a1a;
    border: 20px solid #1a1a1a;
    height: 100%;
    z-index: 0;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.edm.is-slideup {
  pointer-events: none;
  height: 10vh;
}
.edm.is-slideup img {
  width: 0;
  opacity: 0;
}
.edm.is-slideup .img-xs {
  width: 20%;
  opacity: 0;
  visibility: hidden;
}
.edm.is-slideup .icon-zoom {
  -moz-transform: scale3d(-1, -1, 1);
  -ms-transform: scale3d(-1, -1, 1);
  -webkit-transform: scale3d(-1, -1, 1);
  transform: scale3d(-1, -1, 1);
}

.tag-career {
  position: fixed;
  right: 10px;
  bottom: 50px;
  z-index: 99;
}
@media (max-width: 1024px) {
  .tag-career {
    right: 0;
    bottom: 10px;
  }
}
.tag-career.style-stick {
  position: absolute;
  bottom: 80px;
}
@media (max-width: 1024px) {
  .tag-career.style-stick {
    bottom: 75px;
  }
}
@media (max-width: 1024px) {
  .tag-career img {
    max-width: 100px;
  }
}

/*layout-view*/
.index {
  text-align: center;
}

.section-scene1 {
  position: relative;
  width: 100%;
  border: 20px solid #1a1a1a;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .section-scene1 {
    border-width: 10px;
  }
}
.section-scene1, .section-scene1 .swiper-slide {
  height: 100vh;
  min-height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1a1a1a;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media (max-width: 1024px) {
  .section-scene1, .section-scene1 .swiper-slide {
    border-width: 10px;
    min-height: 320px;
  }
}
.section-scene1 .swiper-container.bg-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.section-scene1::before {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
  min-height: 160px;
}
.section-scene1 .slogan {
  position: relative;
  margin-top: -190px;
  z-index: 2;
}
@media (max-width: 1024px) {
  .section-scene1 .slogan {
    margin-top: -95px;
  }
}
.section-scene1 .slogan .circle {
  width: 380px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(221, 97, 0, 0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media (max-width: 1024px) {
  .section-scene1 .slogan .circle {
    width: 190px;
    height: 190px;
  }
}
.section-scene1 .slogan .content {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  color: white;
  padding-top: 90px;
}
@media (max-width: 1024px) {
  .section-scene1 .slogan .content {
    padding-top: 45px;
  }
}
.section-scene1 .slogan .content .img-slogan {
  width: 540px;
  margin-left: 5px;
}
@media (max-width: 1024px) {
  .section-scene1 .slogan .content .img-slogan {
    width: 270px;
    max-width: 100%;
    margin-left: 3px;
  }
}
.section-scene1 .slogan .content p {
  padding-top: 30px;
  padding-bottom: 15px;
  letter-spacing: 3px;
  font-size: 14px;
}
.section-scene1 .slogan .content p span {
  display: inline-block;
  padding-left: 3px;
}
@media (max-width: 1024px) {
  .section-scene1 .slogan .content p {
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 12px;
  }
}
.section-scene1 .slogan .content .shape-line {
  height: 1px;
  width: 45px;
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .section-scene1 .slogan .content .shape-line {
    width: 25px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

.section-scene2 {
  padding-top: 80px;
  padding-bottom: 60px;
}
@media (max-width: 1024px) {
  .section-scene2 {
    padding-bottom: 0;
    padding-top: 30px;
  }
}

.entrance-list {
  max-width: 1380px;
  margin: 0 auto;
}
@media (max-width: 1380px) {
  .entrance-list {
    width: 100%;
    margin: initial;
  }
}

.entrance-item {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
  width: 33.33%;
}
@media (max-width: 1024px) {
  .entrance-item {
    float: none;
    width: initial;
    max-width: 768px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}
.entrance-item::before {
  content: '';
  display: block;
  padding-top: 135%;
  min-height: 390px;
}
@media (max-width: 1024px) {
  .entrance-item::before {
    content: none;
  }
}
.entrance-item:nth-child(3) .inner img {
  height: 55px;
  margin-top: -5px;
}
@media (max-width: 1280px) {
  .entrance-item:nth-child(3) .inner img {
    height: 40px;
  }
}
.entrance-item:nth-child(3) .inner .title-decoline span.text {
  width: 5em;
}
.entrance-item .bg {
  background: url("http://dummyimage.com/768x768/666/888") center no-repeat black;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  left: 25px;
}
@media (max-width: 1024px) {
  .entrance-item .bg {
    left: 20px;
    right: 20px;
  }
}
.entrance-item .inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  left: 25px;
  padding-top: 90px;
  -webkit-transition: background-color 0.6s 0.1s ease;
  -o-transition: background-color 0.6s 0.1s ease;
  transition: background-color 0.6s 0.1s ease;
}
@media (max-width: 1280px) {
  .entrance-item .inner {
    padding-top: 50px;
  }
}
@media (max-width: 1024px) {
  .entrance-item .inner {
    position: relative;
    height: 390px;
    top: initial;
    bottom: initial;
    right: initial;
    left: initial;
  }
}
.entrance-item .inner:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.entrance-item .inner:hover .btn-more {
  background-color: white;
}
.entrance-item .inner:hover .btn-more span {
  margin-top: -72px;
}
@media (max-width: 1280px) {
  .entrance-item .inner:hover .btn-more span {
    margin-top: -62px;
  }
}
.entrance-item .inner img {
  display: inline-block;
  height: 50px;
}
@media (max-width: 1280px) {
  .entrance-item .inner img {
    height: 35px;
  }
}
.entrance-item .inner p {
  padding-left: 45px;
  padding-right: 45px;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 1.5;
}
@media (max-width: 1280px) {
  .entrance-item .inner p {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.entrance-item .inner .btn-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 60px;
}
@media (max-width: 1280px) {
  .entrance-item .inner .btn-wrap {
    padding-bottom: 40px;
  }
}
.entrance-item .inner .btn-more {
  display: inline-block;
  border: 1px solid white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 78px;
  color: white;
  letter-spacing: 3px;
  padding-left: 3px;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (max-width: 1280px) {
  .entrance-item .inner .btn-more {
    width: 70px;
    height: 70px;
    line-height: 68px;
    font-size: 13px;
    left: 2px;
    padding-left: 2px;
  }
}
.entrance-item .inner .btn-more span {
  display: block;
  -webkit-transition: margin 0.5s ease;
  -o-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}
.entrance-item .inner .btn-more i {
  font-size: 40px;
  color: black;
}
@media (max-width: 1280px) {
  .entrance-item .inner .btn-more i {
    font-size: 35px;
  }
}

.title-decoline {
  width: 100%;
  font-size: 27px;
  line-height: 1;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  display: table;
}
@media (max-width: 1280px) {
  .title-decoline {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .title-decoline {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
}
.title-decoline span {
  display: table-cell;
}
.title-decoline span:first-child {
  text-align: right;
}
.title-decoline span:last-child {
  text-align: left;
}
.title-decoline .text {
  letter-spacing: 5px;
  padding-left: 5px;
  width: 6em;
}
@media (max-width: 1024px) {
  .title-decoline .text {
    letter-spacing: 4px;
    padding-left: 4px;
  }
}
.title-decoline .deco {
  position: relative;
}
.title-decoline .deco .shape-dia {
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: white;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  margin-top: -4px;
}
@media (max-width: 1024px) {
  .title-decoline .deco .shape-dia {
    margin-top: -1.5px;
  }
}
.title-decoline .deco .shape-line {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.section-scene3 {
  padding-top: 80px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .section-scene3 {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
.section-scene3 .append-text {
  line-height: 1.8;
  letter-spacing: 4px;
  padding-left: 4px;
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .section-scene3 .append-text {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
}

.find-store {
  background: url("http://dummyimage.com/1920x565/666/888") center no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 1024px) {
  .find-store {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.find-store .search-wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: rgba(221, 97, 0, 0.9);
}
@media (max-width: 1024px) {
  .find-store .search-wrap {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.find-store .search-wrap .title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.4;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 40px;
  padding-right: 1em;
}
@media (max-width: 1024px) {
  .find-store .search-wrap .title {
    font-size: 22px;
    padding-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .find-store .search-wrap .select-wrap {
    width: 100%;
  }
}
.find-store .search-wrap select {
  display: block;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
@media (max-width: 1024px) {
  .find-store .search-wrap select {
    width: 100%;
  }
}
.find-store .search-wrap button {
  margin-top: 50px;
}
@media (max-width: 1024px) {
  .find-store .search-wrap button {
    margin-top: 40px;
  }
}

.section-scene4 {
  overflow: hidden;
  padding-top: 100px;
}
@media (max-width: 1024px) {
  .section-scene4 {
    padding-top: 15px;
  }
}
.section-scene4 .title {
  color: #d3b181;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
}
@media (max-width: 1024px) {
  .section-scene4 .title {
    font-size: 20px;
  }
}
.section-scene4 p {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 6px;
  line-height: 1.4;
  padding-left: 6px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
@media (max-width: 1024px) {
  .section-scene4 p {
    font-size: 18px;
    letter-spacing: 4px;
    padding-left: 4px;
  }
}
.section-scene4 .content-wrap {
  position: relative;
  z-index: 1;
}
.section-scene4 .img-wrap {
  position: relative;
  z-index: 0;
  margin-top: -5%;
}
.section-scene4 img {
  width: 45%;
  display: inline-block;
  vertical-align: bottom;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .section-scene4 img {
    width: 70%;
  }
}
.section-scene4 img:first-child {
  float: left;
  margin-left: -3.5%;
}
@media (max-width: 1024px) {
  .section-scene4 img:first-child {
    margin-left: -20%;
  }
}
.section-scene4 img:last-child {
  float: right;
  margin-right: -4%;
  margin-top: -3%;
}
@media (max-width: 1024px) {
  .section-scene4 img:last-child {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    margin-right: -10%;
    z-index: -1;
  }
}

#footer {
  margin-top: -70px;
  position: relative;
}
@media (max-width: 768px) {
  #footer {
    margin-top: -20px;
  }
}

/*# sourceMappingURL=index.css.map */
