/******************/
/* MEAL LIST PAGE */
/******************/
/*.layout-view*/
.meal-index section.on-desk {
  position: relative;
  padding-left: 105px;
  padding-right: 240px;
}
@media (max-width: 1280px) {
  .meal-index section.on-desk {
    padding-right: 120px;
  }
}
.meal-index section.on-desk p {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.meal-index section.on-desk.style-relative {
  padding-right: 0;
  padding-left: 0;
}

.helper {
  font-size: 13px;
  line-height: 1.3;
  color: #666;
}
.helper .br {
  padding-right: 1em;
}

.meal-banner {
  z-index: 0;
}
.meal-banner img {
  width: 100%;
}
.meal-index .meal-banner {
  padding-top: 75px;
}
.style-relative .meal-banner {
  -moz-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  -webkit-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}
.style-relative .meal-banner + .helper {
  -moz-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  -webkit-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

.meal-list {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 160px;
  width: 340px;
  background-color: rgba(228, 110, 25, 0.9);
  background-image: url("/images/img-pillar-1.png");
  background-repeat: no-repeat;
  background-position: bottom 190px left 150px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
@media (max-height: 900px) {
  .meal-list {
    bottom: 130px;
  }
}
@media (max-width: 1280px) {
  .meal-list {
    width: 240px;
    background-position: bottom 100px left 100px;
  }
}
.style-relative .meal-list {
  position: relative;
  float: right;
  bottom: initial;
  padding-top: 260px;
  padding-bottom: 1em;
  margin-bottom: 160px;
}
@media screen and (max-width: 1680px) {
  .style-relative .meal-list {
    padding-top: 150px;
  }
}
@media screen and (max-width: 1280px) {
  .style-relative .meal-list {
    padding-top: 75px;
  }
}
.style-relative .meal-list .meal-list-inner {
  position: relative;
  bottom: initial;
  left: initial;
  right: initial;
  padding-bottom: 0;
}

.meal-list-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 34px;
  letter-spacing: 4px;
  padding-right: 120px;
  padding-bottom: 0.5em;
}
@media (max-height: 768px) {
  .meal-list-inner {
    font-size: 26px;
  }
}
@media (max-width: 1440px) {
  .meal-list-inner {
    padding-right: 60px;
    font-size: 26px;
  }
}
.meal-list-inner li {
  padding-left: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media (max-height: 768px) {
  .meal-list-inner li {
    margin-bottom: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1280px) {
  .meal-list-inner li {
    margin-bottom: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.meal-list-inner li a {
  display: block;
  width: 100%;
  height: 100%;
}
.meal-list-inner li:hover {
  background-color: white;
  color: #e46e19;
}

/*.layout-view*/
.meal-index section.on-mobile {
  padding-bottom: 55px;
  padding-top: 80px;
}
.meal-index section.on-mobile .btn-wrap {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 40px;
  padding-right: 40px;
}
.meal-index section.on-mobile p {
  max-width: 768px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.meal-list-m {
  max-width: 768px;
  margin: 0 auto;
  text-align: right;
}
.meal-list-m li {
  padding-bottom: 1em;
}
.meal-list-m .btn {
  display: inline-block;
  text-align: left;
  background-color: rgba(228, 110, 25, 0.9);
  padding: 10px;
  width: 44%;
  min-width: 7em;
  font-size: 17px;
  letter-spacing: 2px;
  -moz-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.meal-list-m .btn i {
  float: right;
  opacity: 0.5;
}
.meal-list-m img {
  max-width: 100%;
  display: block;
}

/*************************/
/* END OF MEAL LIST PAGE */
/*************************/
/**********************/
/* MENU OVERVIEW PAGE */
/**********************/
.section-main {
  position: relative;
  z-index: 0;
  padding-right: 500px;
  background: url("/images/bg-menu.png") top left no-repeat;
  -moz-background-size: 83%;
  -o-background-size: 83%;
  -webkit-background-size: 83%;
  background-size: 83%;
}
@media (max-width: 1440px) {
  .section-main {
    padding-right: 360px;
  }
}
@media (max-width: 1280px) {
  .section-main {
    padding-right: 300px;
  }
}
@media (max-width: 1024px) {
  .section-main {
    padding-right: 0;
    padding-bottom: 60px;
    background-position: top center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
.section-main > .btn-wrap {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 20px;
  padding-right: 20px;
  z-index: 9;
}
.section-main > .btn-wrap .module-btn {
  background-color: #1a1a1a;
}

.meal-footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  padding: 0 20px;
  text-align: center;
  font-size: 15px;
}
.meal-footer.style-stick {
  position: absolute;
  width: 100%;
}
.meal-footer .swiper-button-prev, .meal-footer .swiper-button-next {
  background: none;
  color: #bbb;
  width: 20px;
  height: 40px;
}
.meal-footer .swiper-button-prev {
  text-align: left;
  left: 0;
  padding-left: 5px;
}
.meal-footer .swiper-button-next {
  text-align: right;
  right: 0;
  padding-right: 5px;
}
.meal-footer .swiper-slide {
  cursor: pointer;
}
.meal-footer .swiper-slide span {
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
}
.meal-footer .swiper-slide.is-active {
  color: #e46e19;
}
.meal-footer .swiper-slide.is-active span {
  border-bottom: 1px solid #e46e19;
}

.main-foodlist {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  width: 50%;
  width: calc(100% - 240px);
  text-align: center;
  padding-top: 220px;
}
@media (max-width: 1024px) {
  .main-foodlist {
    padding-top: 100px;
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .main-foodlist {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.main-foodlist .category-name {
  padding-top: 70px;
  padding-bottom: 30px;
  color: #d3b181;
  font-size: 24px;
  letter-spacing: 4px;
  font-style: italic;
}
@media (max-width: 1024px) {
  .main-foodlist .category-name {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 15px;
  }
}
.main-foodlist .category-name .style-spfont {
  font-size: 40px;
  padding-right: 0.5em;
  letter-spacing: 0;
  font-weight: normal;
}
@media (max-width: 1024px) {
  .main-foodlist .category-name .style-spfont {
    font-size: 24px;
  }
}
.main-foodlist .category-info {
  display: inline-block;
  color: #d3b181;
  border-top: 1px solid #d3b181;
  border-bottom: 1px solid #d3b181;
  white-space: nowrap;
}
.main-foodlist .category-info::before, .main-foodlist .category-info::after {
  vertical-align: middle;
  display: inline-block;
  width: 10px;
  height: 32px;
  margin-top: -1px;
}
.main-foodlist .category-info::before {
  content: url("/images/ribbon-o-left.svg");
}
.main-foodlist .category-info::after {
  content: url("/images/ribbon-o-right.svg");
}
.main-foodlist .category-info span {
  vertical-align: middle;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .main-foodlist .category-info span {
    font-size: 13px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
.main-foodlist .category-info + .category-alert {
  padding-top: 50px;
}
@media screen and (max-width: 1024px) {
  .main-foodlist .category-info + .category-alert {
    padding-top: 35px;
  }
}
.main-foodlist .category-alert {
  padding-top: 20px;
}
.main-foodlist .category-alert img {
  max-width: 100%;
}
.main-foodlist .category-alert img.on-desk {
  width: 100%;
}
.main-foodlist .category-alert img.on-mobile {
  width: 280px;
}

.food-list {
  padding-top: 50px;
  margin-left: 5px;
}
@media (max-width: 480px) {
  .food-list {
    margin-left: 0;
  }
}

.food-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  padding-bottom: 60px;
  padding-left: 5px;
  padding-right: 5px;
  /*.style-wide*/
}
.food-item {
  width: 33.33%;
}
@media (max-width: 1440px) {
  .food-item {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .food-item {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.style-slim .food-item {
  width: 25%;
}
@media (max-width: 1440px) {
  .style-slim .food-item {
    width: 33.33%;
  }
}
@media (max-width: 1280px) {
  .style-slim .food-item {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .style-slim .food-item {
    width: 100%;
  }
}
@media (max-width: 1280px) {
  .style-slim .food-item .img-wrap .photo {
    width: 62.5%;
    margin: 0 auto;
  }
}
.food-item .img-wrap {
  position: relative;
  margin-bottom: 30px;
}
.food-item .img-wrap .photo {
  display: block;
  width: 100%;
}
.food-item .img-wrap .corner-mark {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 76px;
}
@media (max-width: 1024px) {
  .food-item .img-wrap .corner-mark {
    top: 0;
    right: 0;
  }
}
.food-item .img-wrap .corner-mark img {
  display: block;
  width: 100%;
}
.food-item .img-wrap .bottom-msg {
  position: absolute;
  font-size: 13px;
  bottom: -13px;
  left: 13px;
  right: 13px;
}
@media (max-width: 768px) {
  .food-item .img-wrap .bottom-msg {
    font-size: 12px;
    bottom: -12px;
    left: 12px;
    right: 12px;
  }
}
.food-item .img-wrap .bottom-msg span {
  display: inline-block;
  color: #d3b181;
  background: black;
  border: 1px solid #d3b181;
  outline: 4px solid black;
  letter-spacing: 1px;
  padding: 4px 8px;
}
@media (max-width: 480px) {
  .food-item .img-wrap .bottom-msg span {
    padding-bottom: 2px;
  }
}
.food-item .info-wrap {
  color: #ccc;
  line-height: 1.3;
}
.food-item .info-wrap .name {
  font-size: 17px;
  padding-bottom: 5px;
}
.food-item .info-wrap .append-text {
  font-size: 14px;
  padding-bottom: 5px;
}
.food-item .info-wrap .price {
  color: #d3b181;
}
.food-item .info-wrap .price .style-spfont {
  font-size: 22px;
  letter-spacing: 1px;
}

/*RIGHT SIDE MENU*/
.section-meal-info {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 80px;
  background-color: #e46e19;
  overflow-y: auto;
}
@media (max-width: 1024px) {
  .section-meal-info.is-hide {
    left: 100%;
    right: -100%;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.section-meal-info, .section-meal-info::after, .section-meal-info .inner {
  width: 500px;
}
@media (max-width: 1440px) {
  .section-meal-info, .section-meal-info::after, .section-meal-info .inner {
    width: 360px;
  }
}
@media (max-width: 1280px) {
  .section-meal-info, .section-meal-info::after, .section-meal-info .inner {
    width: 300px;
  }
}
@media (max-width: 1024px) {
  .section-meal-info {
    position: fixed;
    z-index: 11;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: initial;
  }
}
.section-meal-info::after {
  content: '';
  display: block;
  position: fixed;
  height: 60px;
  bottom: 80px;
  right: 0;
  pointer-events: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0NmUxOSIgc3RvcC1vcGFjaXR5PSIwLjAwMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0NmUxOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(228, 110, 25, 0.001)), color-stop(100%, #e46e19));
  background-image: -moz-linear-gradient(rgba(228, 110, 25, 0.001), #e46e19);
  background-image: -webkit-linear-gradient(rgba(228, 110, 25, 0.001), #e46e19);
  background-image: linear-gradient(rgba(228, 110, 25, 0.001), #e46e19);
}
@media (max-width: 1024px) {
  .section-meal-info::after {
    content: none;
  }
}
.section-meal-info .inner {
  position: fixed;
  top: 0;
  bottom: 80px;
  right: 0;
}
@media (max-width: 1024px) {
  .section-meal-info .inner {
    position: relative;
    width: 100%;
    top: initial;
    bottom: initial;
    right: initial;
  }
}
.section-meal-info .meal-banner {
  pointer-events: none;
}
.section-meal-info .meal-banner::after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
@media (max-width: 1024px) {
  .section-meal-info .meal-banner::after {
    content: '';
  }
}

.section-meal-info-top, .section-meal-info-bottom {
  position: relative;
  height: 70px;
  background: url("/images/bg-body-m.png") center top repeat #000;
}

.section-meal-info-top {
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
}

.section-meal-info-bottom .btn-wrap {
  -moz-transform: translate(0px, -1.5em);
  -ms-transform: translate(0px, -1.5em);
  -webkit-transform: translate(0px, -1.5em);
  transform: translate(0px, -1.5em);
}
.section-meal-info-bottom .btn-wrap a {
  cursor: pointer;
}

.settype-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .settype-list {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 1;
  }
}
.settype-list .settype-item {
  display: inline-block;
  margin-left: -5px;
  color: #8a410e;
}
@media (max-width: 1024px) {
  .settype-list .settype-item {
    display: none;
    margin-left: 0;
  }
}
.settype-list .settype-item.is-active {
  color: white;
}
@media (max-width: 1024px) {
  .settype-list .settype-item.is-active {
    display: inline-block;
  }
}
.settype-list .settype-item span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .settype-list .settype-item span {
    font-weight: normal;
    padding-left: 0;
    padding-right: 0;
    cursor: auto;
  }
}
.settype-list .settype-item:not(:last-child)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 1.4em;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #8a410e;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .settype-list .settype-item:not(:last-child)::after {
    content: none;
  }
}

.settype-content {
  display: none;
}
.settype-content.is-active {
  display: block;
}

.setname-list {
  display: table;
  position: relative;
  width: 100%;
  table-layout: fixed;
  margin-top: -3px;
  z-index: 2;
}

.setname-item {
  display: table-cell;
  background-color: white;
  color: #aaa;
  border-right: 1px solid #e46e19;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  cursor: pointer;
}
.setname-item.is-active {
  background-color: #e46e19;
  color: white;
}
.setname-item:last-child {
  border-right: 0;
}

.set-inner {
  display: none;
  padding-bottom: 80px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
@media (max-width: 1440px) {
  .set-inner {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
  }
}
.set-inner.is-active {
  display: block;
}

.price-info {
  padding-bottom: 15px;
}
.price-info .prefix {
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: bold;
}
@media (max-width: 1440px) {
  .price-info .prefix {
    font-size: 22px;
    letter-spacing: 1px;
  }
}
.price-info .style-spfont {
  font-size: 56px;
  color: #ffff85;
  padding-left: 8px;
  padding-right: 5px;
}
@media (max-width: 1440px) {
  .price-info .style-spfont {
    font-size: 45px;
    padding-left: 4px;
    padding-right: 2px;
  }
}
.price-info .suffix {
  font-size: 18px;
  font-weight: bold;
}
.price-info .appendix {
  font-size: 17px;
  padding-top: 10px;
  line-height: 1.3;
}

.detail-info {
  color: black;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 40px;
  padding-top: 15px;
}

@media (max-width: 1024px) {
  .ps-container {
    overflow: initial !important;
    touch-action: initial !important;
  }
}

.ps-scrollbar-y-rail {
  z-index: 11;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: white;
}

/*# sourceMappingURL=menu.css.map */
