/******************/
/* NEWS LIST PAGE */
/******************/
.section-news-list {
  padding-top: 220px;
  padding-bottom: 110px;
  text-align: center;
  background: url("/images/bg-news.png") top center no-repeat;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media (max-width: 1024px) {
  .section-news-list {
    padding-top: 100px;
    background-position: top center;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

.style-round {
  width: 190px;
  height: 45px;
  line-height: 43px;
  font-size: 16px;
}

.hotnews-list {
  position: relative;
  width: 1150px;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1366px) {
  .hotnews-list {
    width: 800px;
  }
}
@media screen and (max-width: 1024px) {
  .hotnews-list {
    margin-top: 50px;
  }
}
.hotnews-list .swiper-prev, .hotnews-list .swiper-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 25px;
  height: 60px;
  margin-top: -30px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.hotnews-list .swiper-button-disabled {
  opacity: 0.1;
}
.hotnews-list .swiper-prev {
  left: -65px;
  text-align: left;
  background: url("/images/arrow-left-25x60.svg") left center no-repeat;
}
.hotnews-list .swiper-next {
  right: -65px;
  text-align: right;
  background: url("/images/arrow-right-25x60.svg") right center no-repeat;
}
.hotnews-list .swiper-container.hotnews-banner {
  width: 612px;
  height: 800px;
  margin: 0;
}
@media screen and (max-width: 1366px) {
  .hotnews-list .swiper-container.hotnews-banner {
    width: 412px;
    height: 480px;
  }
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide {
  width: 512px;
  height: 800px;
  background: transparent;
}
@media screen and (max-width: 1366px) {
  .hotnews-list .swiper-container.hotnews-banner .swiper-slide {
    width: 307px;
    height: 480px;
  }
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide:not(.swiper-slide-active) img, .hotnews-list .swiper-container.hotnews-banner .swiper-slide:not(.swiper-slide-active) .img-wrap {
  opacity: 0;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide.swiper-slide-next .img-wrap {
  opacity: 1;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide.swiper-slide-next img {
  opacity: 0.2;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide.swiper-slide-next + .swiper-slide .img-wrap {
  opacity: 1;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide.swiper-slide-next + .swiper-slide img {
  opacity: 0.2;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide.swiper-slide-next:last-child[style*="z-index: 1"] img {
  opacity: 1;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide.swiper-slide-active:nth-last-child(2):not([style*="z-index: 1"]) img {
  opacity: 0.2;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide .img-wrap {
  display: inline-block;
  background-color: black;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}
.hotnews-list .swiper-container.hotnews-banner .swiper-slide img {
  display: block;
  max-height: 100%;
}
.hotnews-list .hotnews-content {
  position: absolute;
  right: 0;
  top: 125px;
  bottom: 125px;
  left: 250px;
  border: 1px solid #d3b181;
  text-align: right;
}
@media screen and (max-width: 1366px) {
  .hotnews-list .hotnews-content {
    top: 50px;
    bottom: 50px;
    left: 160px;
  }
}
.hotnews-list .hotnews-content .inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 610px;
  height: 550px;
  padding-top: 45px;
  padding-left: 125px;
  padding-right: 70px;
}
@media screen and (max-width: 1366px) {
  .hotnews-list .hotnews-content .inner {
    width: 380px;
    height: 380px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.hotnews-list .hotnews-content .inner .swiper-container {
  height: 100%;
  height: calc(100% + 40px);
}
.hotnews-list .hotnews-content .inner .swiper-container .swiper-slide:not(.swiper-slide-active) .date, .hotnews-list .hotnews-content .inner .swiper-container .swiper-slide:not(.swiper-slide-active) .title, .hotnews-list .hotnews-content .inner .swiper-container .swiper-slide:not(.swiper-slide-active) .describe {
  opacity: 0 !important;
}
.hotnews-list .hotnews-content .inner .date {
  color: #d3b181;
  letter-spacing: 4px;
}
.hotnews-list .hotnews-content .inner .date .year {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0;
  padding-right: 4px;
}
.hotnews-list .hotnews-content .inner .date .month, .hotnews-list .hotnews-content .inner .date .day {
  font-size: 35px;
  letter-spacing: 0;
}
.hotnews-list .hotnews-content .inner .title {
  margin-top: 40px;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1366px) {
  .hotnews-list .hotnews-content .inner .title {
    margin-top: 20px;
    font-size: 24px;
  }
}
.hotnews-list .hotnews-content .inner .describe {
  margin-top: 30px;
  letter-spacing: 1px;
  border-top: 1px solid white;
  padding-top: 30px;
  font-size: 18px;
  line-height: 1.6;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1366px) {
  .hotnews-list .hotnews-content .inner .describe {
    margin-top: 20px;
    font-size: 15px;
    padding-top: 15px;
  }
}
.hotnews-list .hotnews-content .inner .btn-more {
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-more {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #1e1e1e;
  border: 1px solid #d3b181;
  color: #d3b181;
  text-align: center;
  letter-spacing: 2px;
  padding-left: 2px;
  line-height: 78px;
  font-size: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: color 0.6s ease, background-color 0.6s ease;
  -o-transition: color 0.6s ease, background-color 0.6s ease;
  transition: color 0.6s ease, background-color 0.6s ease;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .btn-more {
    width: 70px;
    height: 70px;
    line-height: 68px;
    font-size: 13px;
  }
}
.btn-more:link, .btn-more:visited {
  color: #d3b181;
}
.btn-more:hover, .btn-more:active {
  background-color: #d3b181;
}
.btn-more:hover i, .btn-more:active i {
  color: black;
}
.btn-more:hover span:first-child, .btn-more:active span:first-child {
  margin-left: 0;
}
.btn-more i {
  font-size: 42px;
  line-height: 75px;
}
@media screen and (max-width: 1024px) {
  .btn-more i {
    line-height: 65px;
    font-size: 35px;
  }
}
.btn-more span {
  display: inline-block;
  width: 78px;
  height: 78px;
  line-height: 78px;
  vertical-align: top;
  -webkit-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .btn-more span {
    width: 68px;
    height: 68px;
    line-height: 68px;
  }
}
.btn-more span:not(:first-child) {
  margin-left: -5px;
}
.btn-more span:first-child {
  margin-left: -79px;
}
@media screen and (max-width: 1024px) {
  .btn-more span:first-child {
    margin-left: -69px;
  }
}

.allnews-list {
  padding-top: 150px;
  text-align: center;
  margin-left: 5px;
  max-width: 1550px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .allnews-list {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}
.allnews-list.style-hotnews-m .news-item {
  padding-top: 90px;
  padding-left: 10px;
}
@media screen and (max-width: 1024px) {
  .allnews-list.style-hotnews-m .news-item .title {
    font-size: 17px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.6;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.allnews-list.style-hotnews-m .news-item .describe {
  margin-top: 20px;
  letter-spacing: 1px;
  border-top: 1px solid white;
  padding-top: 20px;
  line-height: 1.6;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.allnews-list.style-hotnews-m .news-item .img-wrap {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1024px) {
  .allnews-list.style-hotnews-m .news-item .img-wrap img {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    margin-top: -90px;
    margin-bottom: 20px;
  }
}
.allnews-list.style-hotnews-m .news-item .img-wrap .btn-more {
  bottom: -35px;
  margin-left: -35px;
}
.allnews-list .news-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 33.33%;
  margin-left: -5px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 110px;
}
@media screen and (max-width: 1280px) {
  .allnews-list .news-item {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item {
    padding-top: 0;
    padding-bottom: 55px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 768px) {
  .allnews-list .news-item {
    width: 100%;
  }
}
.allnews-list .news-item .date {
  color: #d3b181;
  letter-spacing: 4px;
}
.allnews-list .news-item .date .year {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0;
  padding-right: 4px;
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item .date .year {
    font-size: 12px;
  }
}
.allnews-list .news-item .date .month, .allnews-list .news-item .date .day {
  font-size: 28px;
  letter-spacing: 0;
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item .date .month, .allnews-list .news-item .date .day {
    font-size: 20px;
  }
}
.allnews-list .news-item .title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
  letter-spacing: 2px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item .title {
    padding-top: 15px;
    padding-bottom: 45px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}
.allnews-list .news-item .img-wrap {
  position: relative;
  width: 100%;
  border: 1px solid #d3b181;
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item .img-wrap {
    margin-left: 15px;
  }
}
.allnews-list .news-item .img-wrap img {
  width: 100%;
  -moz-transform: translate(-55px, 25px);
  -ms-transform: translate(-55px, 25px);
  -webkit-transform: translate(-55px, 25px);
  transform: translate(-55px, 25px);
  display: block;
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item .img-wrap img {
    -moz-transform: translate(-15px, -15px);
    -ms-transform: translate(-15px, -15px);
    -webkit-transform: translate(-15px, -15px);
    transform: translate(-15px, -15px);
  }
}
.allnews-list .news-item .img-wrap .btn-more {
  position: absolute;
  right: -40px;
  bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .allnews-list .news-item .img-wrap .btn-more {
    bottom: -20px;
    left: 50%;
    margin-left: -50px;
  }
}

/*************************/
/* END OF NEWS LIST PAGE */
/*************************/
/*************************/
/* MENU NEWS DETAIL PAGE */
/*************************/
.nav-category {
  padding-bottom: 20px;
}
.nav-category .module-btn.style-o {
  padding: 4px 10px;
}

.category-item:hover {
  color: #e46e19;
  font-size: 26px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.section-edm {
  width: 32%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 80px;
  text-align: right;
  overflow: auto;
}
@media screen and (max-width: 1024px) {
  .section-edm {
    text-align: center;
    position: relative;
    width: 100%;
    top: initial;
    right: initial;
    bottom: initial;
    padding-top: 0;
    margin-top: 0 !important;
  }
}
.section-edm img {
  width: 100%;
}
.section-edm .btn-wrap {
  position: relative;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  height: 80px;
}
.section-edm .btn-wrap .module-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #1a1a1a;
  z-index: 9;
}

.section-main {
  padding-right: 32%;
}
@media screen and (max-width: 1024px) {
  .section-main {
    padding-right: 0;
    position: relative;
  }
}

.main-newscontent {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 80px;
  width: 50%;
  width: calc(100% - 240px);
  padding-top: 80px;
}
@media screen and (max-width: 1680px) {
  .main-newscontent {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media screen and (max-width: 1440px) {
  .main-newscontent {
    padding-left: 110px;
    padding-right: 40px;
  }
}
@media (max-width: 1024px) {
  .main-newscontent {
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 0;
    width: 100%;
    padding-bottom: 100px;
  }
}
@media (max-width: 480px) {
  .main-newscontent {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-newscontent .date {
  color: #d3b181;
  letter-spacing: 10px;
}
@media screen and (max-width: 1024px) {
  .main-newscontent .date {
    letter-spacing: 4px;
  }
}
.main-newscontent .date .year {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0;
  padding-right: 4px;
}
@media screen and (max-width: 1024px) {
  .main-newscontent .date .year {
    font-size: 12px;
  }
}
.main-newscontent .date .month, .main-newscontent .date .day {
  font-size: 35px;
  letter-spacing: 0;
}
@media screen and (max-width: 1024px) {
  .main-newscontent .date .month, .main-newscontent .date .day {
    font-size: 20px;
  }
}
.main-newscontent .title {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: 2px;
}
@media screen and (max-width: 1366px) {
  .main-newscontent .title {
    margin-top: 20px;
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .main-newscontent .title {
    font-size: 18px;
  }
}
.main-newscontent .describe {
  margin-top: 25px;
  letter-spacing: 1px;
  border-top: 1px solid white;
  padding-top: 15px;
  font-size: 18px;
  line-height: 1.8;
}
@media screen and (max-width: 1366px) {
  .main-newscontent .describe {
    margin-top: 20px;
    font-size: 15px;
    padding-top: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .main-newscontent .describe {
    font-size: 14px;
  }
}
.main-newscontent .describe p + p {
  padding-top: 1.8em;
}
.main-newscontent .describe img {
  display: block;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .main-newscontent .describe img {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
.main-newscontent .btn-wrap {
  padding-top: 80px;
}
@media screen and (max-width: 1024px) {
  .main-newscontent .btn-wrap {
    padding-top: 60px;
  }
}
.main-newscontent .btn-wrap .style-round {
  margin-left: 0;
  margin-right: initial;
}
@media screen and (max-width: 1024px) {
  .main-newscontent .btn-wrap .style-round {
    margin-left: auto;
    margin-right: auto;
  }
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: white;
}

/*# sourceMappingURL=news.css.map */
