/*******************/
/* STORE LIST PAGE */
/*******************/
.section-main {
  position: relative;
  z-index: 0;
  padding-right: 340px;
  overflow: auto;
}
@media screen and (max-width: 1024px) {
  .section-main {
    padding-right: 0;
  }
}
.store-detail .section-main > .btn-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9;
}
.store-detail .section-main > .btn-wrap .module-btn {
  position: relative;
  background-color: #1a1a1a;
}
.section-main .inner {
  padding: 100px 50px 50px 50px;
}
.store-detail .section-main .inner {
  padding-top: 165px;
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 80px;
}
@media screen and (max-width: 1280px) {
  .store-detail .section-main .inner {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media screen and (max-width: 1024px) {
  .store-detail .section-main .inner {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
}

.section-search {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 80px;
  right: 0;
  width: 340px;
  background-color: #e46e19;
  background-image: url("/images/img-pillar-1.png");
  background-repeat: no-repeat;
  background-position: top 200px left 130px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  overflow: auto;
}
@media screen and (max-width: 1024px) {
  .section-search {
    position: relative;
    top: initial;
    bottom: initial;
    right: initial;
    width: 100%;
    min-height: calc( 100vh - 75px);
    background-position: top 100px left 60vw;
    -moz-background-size: 80vw;
    -o-background-size: 80vw;
    -webkit-background-size: 80vw;
    background-size: 80vw;
    background-attachment: fixed;
  }
}

.search-wrap {
  position: relative;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (max-width: 1024px) {
  .search-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.search-wrap .title {
  padding-top: 50px;
  padding-bottom: 65px;
  padding-left: 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1.4;
}
@media (max-width: 1024px) {
  .search-wrap .title {
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 15px;
    padding-left: 0;
    text-align: center;
  }
}
.search-wrap .select-wrap {
  display: block;
  width: 100%;
}
.search-wrap .select-wrap::after {
  width: 10px;
  height: 10px;
  top: 0.5em;
}
@media screen and (max-width: 1024px) {
  .search-wrap .select-wrap::after {
    width: 5px;
    height: 5px;
    top: 0.6em;
  }
}
.search-wrap select {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  padding-right: 1em;
  padding-bottom: 15px;
}
@media screen and (max-width: 1024px) {
  .search-wrap select {
    font-weight: normal;
    font-size: 15px;
    padding-bottom: 5px;
  }
}

.searchstore-list {
  padding-bottom: 30px;
}

.searchstore-item {
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 1.5;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .searchstore-item {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.searchstore-item:hover {
  background-color: #d3b181;
}
.store-detail .searchstore-item:hover {
  background-color: transparent;
}
@media screen and (max-width: 1024px) {
  .searchstore-item:hover {
    background-color: transparent;
  }
}
.searchstore-item.is-active {
  background-color: #d3b181;
}
.searchstore-item .name {
  font-weight: bold;
  font-size: 19px;
}
@media screen and (max-width: 1024px) {
  .searchstore-item .name {
    font-size: 17px;
  }
}
.searchstore-item .btn-wrap {
  padding-top: 12px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 1024px) {
  .searchstore-item .btn-wrap {
    padding-top: 6px;
    padding-bottom: 20px;
  }
}
.searchstore-item .btn-wrap .style-round-full[href="#"] {
  display: none;
}

#map-canvas {
  position: relative;
}
#map-canvas::before {
  content: '';
  display: block;
  position: relative;
  padding-top: 57%;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: white;
}

/**************************/
/* END OF STORE LIST PAGE */
/**************************/
/*********************/
/* STORE DETAIL PAGE */
/*********************/
.album-wrapper {
  position: relative;
  color: #d3b181;
  padding-right: 30px;
}
@media screen and (max-width: 1024px) {
  .album-wrapper {
    padding-right: 10px;
  }
}
.album-wrapper .swiper-slide img {
  width: 100%;
}
.album-wrapper .name {
  font-size: 23px;
  padding-top: 1em;
  padding-left: 105px;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .album-wrapper .name {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
  }
}
.album-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  border: 2px solid #d3b181;
  top: 15px;
  bottom: 0;
  right: 0;
  left: 60px;
}
@media screen and (max-width: 1024px) {
  .album-wrapper::before {
    left: 15px;
    top: 5px;
    border-width: 1px;
  }
}

.swiper-prev, .swiper-next {
  cursor: pointer;
  position: absolute;
  z-index: 11;
  top: 50%;
  width: 25px;
  height: 60px;
  margin-top: -30px;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .swiper-prev, .swiper-next {
    width: 6px;
    height: 16px;
    margin-top: -8px;
  }
}

.swiper-button-disabled {
  opacity: 0.1;
}

.swiper-prev {
  left: -80px;
  text-align: left;
  background: url("/images/arrow-left-25x60.svg") left center no-repeat;
}
@media screen and (max-width: 1024px) {
  .swiper-prev {
    left: -15px;
    background-image: url("/images/ribbon-o-right.svg");
  }
}

.swiper-next {
  right: -80px;
  text-align: right;
  background: url("/images/arrow-right-25x60.svg") right center no-repeat;
}
@media screen and (max-width: 1024px) {
  .swiper-next {
    right: -15px;
    background-image: url("/images/ribbon-o-left.svg");
  }
}

.swiper-pagination {
  position: relative;
  float: right;
  text-align: right;
  right: initial;
  left: initial;
  bottom: initial;
  width: initial;
  padding-top: 20px;
  padding-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .swiper-pagination {
    float: none;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 25px;
    text-align: left;
  }
}
.swiper-pagination .bullet {
  display: inline-block;
  cursor: pointer;
  font-size: 25px;
  padding-left: 1em;
}
@media screen and (max-width: 1024px) {
  .swiper-pagination .bullet {
    font-size: 15px;
    padding-left: 2px;
    padding-right: 1em;
  }
}

.swiper-pagination-bullet-active {
  background-color: transparent;
  color: #e46e19;
}

.content-wrapper {
  position: relative;
  padding-top: 55px;
}
@media screen and (max-width: 1024px) {
  .content-wrapper {
    padding-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .content-wrapper .btn-wrap {
    text-align: center;
    padding-bottom: 50px;
  }
}
.content-wrapper .btn-driveplan {
  position: absolute;
  top: 55px;
  right: 0;
  width: 180px;
  text-align: center;
  font-size: 20px;
  color: #4a84f8;
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (max-width: 1024px) {
  .content-wrapper .btn-driveplan {
    position: relative;
    top: initial;
    right: initial;
    margin-left: auto;
    margin-right: auto;
  }
}
.content-wrapper .btn-driveplan img {
  height: 24px;
  margin-right: 10px;
}

.edm-wrapper {
  text-align: center;
  padding-top: 80px;
}
@media screen and (max-width: 1024px) {
  .edm-wrapper {
    padding-top: 0;
  }
}
.edm-wrapper .img-edm {
  display: block;
  width: 100%;
  max-width: 575px;
  margin: 30px auto;
}

/*# sourceMappingURL=store.css.map */
