<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "units/menu" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "units/menu" %>
<script>
  var mySwiper = new Swiper('.swiper-container', {
    effect: "fade",
    speed: 1000,
    spaceBetween: 0
  });

  $(".meal-list-inner").find("li").each(function(index, el) {
    $(this).on('mouseover', function(event) {
      event.preventDefault();
      /* Act on the event */
      mySwiper.slideTo( index );
    }); 
  });
</script>
<% end %>
<% @page = "meal-index" %>

<section class="on-desk clearfix style-relative"><!-- add class : "style-relative" when there're more than 5 items -->

  <div class="meal-list">
    <ul class="meal-list-inner">
<!-- 
 -->      
      <li><a href="/views/menu/overview.html#meal=1">午間套餐</a></li>
      <li><a href="/views/menu/overview.html#meal=2">單人套餐</a></li>
      <li><a href="/views/menu/overview.html#meal=3">雙人套餐</a></li>
      <li><a href="/views/menu/overview.html#meal=4">多人套餐</a></li>
      <li><a href="/views/menu/overview.html#meal=5">下午茶</a></li>
      <% 5.times do |i| %>
      <li><a href="/views/menu/overview.html#meal=<%=i+6%>"><%=  zh_lorem_words(rand(3..20)) %></a></li>
      <% end %>
    </ul>
  </div>
  <!-- Slider main container -->
  <div class="swiper-container meal-banner">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <%10.times do |i|%>
      <div class="swiper-slide"><img src="http://dummyimage.com/1560x800/888/aaa&text=slide<%=i+1%>" alt=""></div>
      <%end%>
    </div>

  </div>
  <p class="helper">
    <span class="br">* 網路菜單僅供參考，詳細內容請參閱店內菜單為主</span>
    <span class="br">* 菜單會因季節而有所變動，細節請洽詢店內服務人員</span>
    <span class="br">* 消費需加收10%服務費</span>
  </p>
</section>

<section class="on-mobile">
  <ul class="meal-list-m">
    <% 5.times do |i| %>
    <li>
      <a href="/views/menu/overview.html#meal=<%=i+1%>"> 
        <img src="http://dummyimage.com/1560x800/aaa/ccc" alt="">
        <span class="btn">套餐名稱<i class="fa fa-angle-right" aria-hidden="true"></i></span>
      </a>
    </li>
    <% end %>
  </ul>
  <div class="btn-wrap">
    <a href="/views/menu/overview.html" class="style-sq">觀看菜單</a>
  </div>
  <p class="helper">
    * 網路菜單僅供參考，詳細內容請參閱店內菜單為主<br>
    * 菜單會因季節而有所變動，細節請洽詢店內服務人員<br>
    * 消費需加收10%服務費
  </p>
</section>