<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "vendors/perfect-scrollbar" %>
<%= stylesheet_link_tag "units/menu" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/jquery.lazyload" %>
<%#= javascript_include_tag "vendors/jquery.scrollstop" %>
<%= javascript_include_tag "vendors/swiper" %>
<%= javascript_include_tag "vendors/perfect-scrollbar.jquery" %>
<%= javascript_include_tag "units/menu" %>
<script>
  $(function() {
      $("img.photo").lazyload({
          // event: "scrollstop",
          effect : "fadeIn"
      });
  });
</script>
<% end %>
<% @page = "menu-overview" %>

<!-- RIGHT SIDE MENU -->
<section class="section-meal-info">
  <div class="section-meal-info-top on-mobile">
    <a href="meal-index.html" class="module-btn style-o"><i class="fa fa-angle-left" aria-hidden="true"></i>返回</a>
  </div>
  <div class="inner">
    <ul class="settype-list">
      <li class="settype-item is-active"><span>午間套餐</span></li>
      <li class="settype-item"><span>單人套餐</span></li>
      <li class="settype-item"><span>雙人套餐</span></li>
      <li class="settype-item"><span>多人套餐</span></li>
      <li class="settype-item"><span>下午茶</span></li>
      <% 5.times do |i| %>
      <li class="settype-item"><span><%=  zh_lorem_words(rand(3..8)) %></span></li>
      <% end %>
    </ul>

    <!-- Slider main container -->
    <div class="swiper-container meal-banner">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% 10.times do |i| %>
        <div class="swiper-slide"><img src="http://dummyimage.com/1560x800/ccc/888&text=slide<%=i+1%>" alt=""></div>
        <%end%>
      </div>
    </div>

    <ul class="settype-content-wrap">
      <%10.times do |n| %>
      <li class="settype-content <%if(n==0)%>is-active<%end%>">

        <!-- 套餐TAB - 超過一類才顯示此UL -->
        <ul class="setname-list">
          <%(n%3 + 2).times do |i| %>
          <li class="setname-item <%if(i==0)%>is-active<%end%>">套餐名稱<%= zh_lorem_words(rand(0..16)) %></li>
          <%end%>
        </ul>

        <!-- 各套餐內容 -->
        <%(n%3 + 2).times do |i| %>

        <div class="set-inner <%if(i==0)%>is-active<%end%> ">
          <!-- lorem - 套餐形式settype-content<%=n+1%> 的套餐內容set-inner<%=i+1%> -->
          <%2.times do |j| %>
          <div class="price-info">
            <p>
              <span class="prefix br">主菜價格加</span>
              <span class="style-spfont br"><%= (i+1+n+j)*120 %></span>
              <span class="suffix br">元起</span>
            </p>
            <p class="appendix">（內容含開胃料理2品、經典料理1品、湯3品、主菜3品、精緻甜點/飲料6品）</p>
          </div>
          <%end%>

          <div class="detail-info">
            <%= zh_lorem_paragraphs(5) %>
          </div>
        </div>  

        <% end %>

      </li>

      <% end %>
    </ul>
  </div>
  <div class="section-meal-info-bottom on-mobile">
    <div class="btn-wrap">
      <a class="style-sq btn-close-mealinfo">觀看菜單</a>
    </div>
  </div>
</section>


<!-- MAIN CONTENT -->
<section class="section-main">

  <!-- LEFT SIDE MENU -->
  <nav class="nav-category on-desk">
    <ul class="category-list">
      <% 7.times do |i| %>
      <li class="category-item <%if i==0%>is-active<%end%>">菜色種類<%=i+1%> </li>
      <% end %>
    </ul>
  </nav>

  <div class="main-foodlist">
    <h1 class="large-title-en style-spfont">Delicious menu</h1>
    <h2 class="large-title-ch">美味菜單</h2>

    <% 12.times do |n| %>
    <!-- A CATEGORY START -->
    <!-- 菜色種類名稱 -->
    <!-- 每個大分類的第一個小分類加上CLASS : anchor，為左邊MENU點擊後會SCROLL到的位置。 -->
    <h3 class="category-name <%if (n%2)==0 %>anchor<%end%>"><span class="style-spfont">Apptizer</span>開胃料理</h3>
    <%if( n%2 ==0 )%>
    <!-- 緞帶外框-介紹 -->
    <h4 class="category-info">
      <span>均贈送奧勒岡烤餅一份</span>
    </h4>
    <%end%>

    <!-- 菜色種類 - 兩種樣式：寬style-wide / 窄 style-slim 必須二擇一 -->
    <ul class="food-list style-wide">
      <% (n+1).times do |i| %>
      <li class="food-item">
        <div class="img-wrap">
          <!-- <img class="photo" src="http://dummyimage.com/720x450/aaa/ccc" alt=""> -->
          <img class="photo" src="/images/img-loading-720x450.svg" data-original="/images/temp/item_wide-720x450.png" alt="">
          <%if( i%2 ==0 )%>
          <!-- 右上標籤 -->
          <span class="corner-mark"><img src="/images/tag-new.png" alt=""></span>
          <%end%>
          <%if(i<2)%>
          <!-- 照片底部黑底文字敘述 -->
          <p class="bottom-msg"><span><%if(i<1)%>午餐限定<%else%>不適用於午間套餐<%end%></span></p>
          <%end%>
        </div>
        <div class="info-wrap">
          <p class="name"><% (i+1).times do %>炭烤安格斯沙朗牛排<%end%></p>
          <!-- 菜名隔行的小字 -->
          <p class="append-text">牛肉產地：美國</p>
          <p class="price"><span class="style-spfont">500</span>元</p>
        </div>
      </li>
      <% end %>
    </ul>
    <!-- A CATEGORY END -->
    <% end %>
    
    <% 3.times do |n| %>
    <!-- A CATEGORY START -->
    <!-- 每個大分類的第一個小分類加上CLASS : anchor，為左邊MENU點擊後會SCROLL到的位置。 -->
    <h3 class="category-name <%if n==0%>anchor<%end%>"><span class="style-spfont">Apptizer</span>開胃料理</h3>
    <% 1.times do %> 
    <h4 class="category-info">
      <span>均贈送奧勒岡烤餅一份</span>
    </h4>
    <% end %>
    <!-- 飲酒警告標籤 -->
    <h4 class="category-alert">
      <img class="on-desk" src="/images/tag-wine.svg" alt="">
      <img class="on-mobile" src="/images/tag-wine-m.svg" alt="">      
    </h4>

    <ul class="food-list style-slim">
      <% (n+3).times do |i| %>
      <li class="food-item">
        <div class="img-wrap">
          <!-- <img class="photo" src="http://dummyimage.com/450x450/aaa/ccc" alt=""> -->
          <img class="photo" src="/images/img-loading-450x450.svg" data-original="/images/temp/item_slim-450x450.png" alt="">
          <%if( i%2 ==0 )%>
          <!-- 右上標籤 -->
          <span class="corner-mark"><img src="/images/tag-new.png" alt=""></span>
          <%end%>
          <%if(i<2)%>
          <!-- 照片底部黑底文字敘述 -->
          <p class="bottom-msg"><span><%if(i<1)%>午餐限定<%else%>不適用於午間套餐<%end%></span></p>
          <%end%>
        </div>
        <div class="info-wrap">
          <p class="name"><% (i+1).times do %>炭烤安格斯沙朗牛排<%end%></p>
          <!-- 菜名隔行的小字 -->
          <p class="append-text">牛肉產地：美國</p>
          <p class="price"><span class="style-spfont">1500</span>元</p>
        </div>
      </li>
      <% end %>
    </ul>
<% end %>

    <!-- A CATEGORY END -->
    <p class="helper">
      <span class="br">* 網路菜單僅供參考，詳細內容請參閱店內菜單為主</span>
      <span class="br">* 菜單會因季節而有所變動，細節請洽詢店內服務人員</span>
      <span class="br">* 消費需加收10%服務費</span>
    </p>
  </div>


  <!-- MOBILE UI -->
  <div class="btn-wrap on-mobile">
    <a class="module-btn style-o btn-open-mealinfo">套餐組合</a>
  </div>
  
  <div class="meal-footer on-mobile">
    <!-- Slider main container -->
    <div class="swiper-container footer-foodlist">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <% 7.times do |i| %>
        <div class="swiper-slide <%if i==0%>is-active<%end%>" data-index=<%=i%> ><span>菜色種類<%=i+1%></span></div>
        <% end %>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>
  </div>

</section>