@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
body, input, textarea, select {
  font-family: Chinese, "微軟正黑體", sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Chinese';
  unicode-range: U+4E00-9FFF;
  src: local(Noto Sans T Chinese), local(Lantinghei TC), local(LiHei Pro), local(微軟正黑體);
}
body {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a, a:link, a:hover, a:active, a:visited {
  color: inherit;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-moz-selection {
  /* Code for Firefox */
  background: #e46e19;
  color: white;
}

::selection {
  background: #e46e19;
  color: white;
}

body {
  background-color: black;
  overflow-x: hidden;
  color: white;
}
@media (max-width: 1024px) {
  body.is-openmenu, body.is-lockscroll {
    overflow: hidden;
  }
}
@media (max-width: 1024px) {
  body {
    overflow-x: auto;
  }
}

.layout-view {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc( 100vh - 80px );
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
@media (max-width: 1024px) {
  .layout-view {
    min-height: calc( 100vh - 75px );
  }
}
.layout-view::before, .layout-view::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.layout-view::before {
  z-index: -2;
  background: url("/images/bg-body.png") center top repeat #000;
}
@media (max-width: 1024px) {
  .layout-view::before {
    background: url("/images/bg-body-m.png") center top repeat #000;
  }
}
.layout-view::after {
  z-index: -1;
  background: url("/images/bg-light.png") center top repeat-y;
}
.is-opening-submenu .layout-view {
  opacity: 0.1;
}

.style-spfont {
  font-family: "Quintessential", 微軟正黑體,Arial,Helvetica,sans-serif;
}

.style-font-times {
  font-family: "Times New Roman", 微軟正黑體,Arial,Helvetica,sans-serif;
}

.style-smallfont {
  font-size: 12px;
}

.style-center {
  text-align: center;
}

.style-left {
  text-align: left;
}

.style-link {
  color: #e46e19;
  text-decoration: underline;
  -webkit-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}
.style-link:link, .style-link:visited {
  color: #e46e19;
}
.style-link:hover, .style-link:active {
  color: #e46e19;
}

@media (min-width: 1024.01px) {
  .on-mobile {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .on-desk {
    display: none !important;
  }
}

.br {
  display: inline-block;
}

#header {
  position: fixed;
  z-index: 101;
  top: 40px;
  left: 40px;
  width: 270px;
  height: 80px;
  text-align: center;
  color: #d3b181;
  background-color: #e46e19;
}
@media (max-width: 1024px) {
  #header {
    top: 20px;
    left: 20px;
    width: 130px;
    height: 40px;
  }
}
#header .col-left {
  float: left;
  width: 205px;
  padding: 0 20px;
  line-height: 75px;
}
@media (max-width: 1024px) {
  #header .col-left {
    width: 100px;
    padding: 0 8px;
    line-height: 38px;
  }
}
#header .col-left img {
  width: 100%;
  vertical-align: middle;
}
#header .col-right {
  float: left;
  width: 65px;
  background-color: black;
  height: 100%;
  font-size: 13px;
  letter-spacing: 1px;
}
@media (max-width: 1024px) {
  #header .col-right {
    width: 30px;
    font-size: 12px;
  }
}
#header .col-right span {
  display: block;
}
#header .col-right span.hide-menuopen {
  display: block;
}
.is-openmenu #header .col-right span.hide-menuopen {
  display: none;
}
#header .col-right span.on-menuopen {
  display: none;
}
.is-openmenu #header .col-right span.on-menuopen {
  display: block;
}
@media (max-width: 1024px) {
  #header .col-right span {
    visibility: hidden;
  }
}

.icon-hamburger {
  display: block;
  position: relative;
  width: 25px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .icon-hamburger {
    width: 18px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
.icon-hamburger i {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d3b181;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-hamburger i:nth-child(1) {
  top: 0;
  left: 0;
}
.is-openmenu .icon-hamburger i:nth-child(1) {
  width: 12px;
  left: -3px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -o-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
@media (max-width: 1024px) {
  .is-openmenu .icon-hamburger i:nth-child(1) {
    width: 11px;
    left: -4px;
  }
}
.icon-hamburger i:nth-child(2) {
  top: 9px;
  left: 0;
}
@media (max-width: 1024px) {
  .icon-hamburger i:nth-child(2) {
    top: 7px;
  }
}
.icon-hamburger i:nth-child(3) {
  top: 18px;
  left: 0;
}
@media (max-width: 1024px) {
  .icon-hamburger i:nth-child(3) {
    top: 14px;
  }
}
.is-openmenu .icon-hamburger i:nth-child(3) {
  width: 12px;
  left: -3px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}
@media (max-width: 1024px) {
  .is-openmenu .icon-hamburger i:nth-child(3) {
    width: 11px;
    left: -4px;
  }
}

.btn-hamburger {
  cursor: pointer;
}

.header-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(228, 110, 25, 0.95);
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow: auto;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.is-openmenu .header-menu {
  opacity: 1;
  visibility: visible;
}
.header-menu::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: -1;
  background-image: url("/images/img-pillar-1.png");
  background-repeat: no-repeat;
  background-position: bottom 190px center;
}
@media (max-width: 1680px) {
  .header-menu::before {
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
@media (max-width: 1024px) {
  .header-menu::before {
    background-position: bottom -80px center;
  }
}
.header-menu::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: -1;
  background-image: url("/images/img-pillar-2.png");
  background-repeat: no-repeat;
  background-position: top 320px center;
}
@media (max-width: 1680px) {
  .header-menu::after {
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
@media (max-width: 1024px) {
  .header-menu::after {
    background-position: top 40px center;
  }
}
.header-menu ul.menu-wrap {
  position: relative;
  padding-top: 200px;
  width: 1024px;
  margin: 0 auto;
}
@media (max-height: 800px) {
  .header-menu ul.menu-wrap {
    padding-top: 160px;
  }
}
@media (max-width: 1024px) {
  .header-menu ul.menu-wrap {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-menu ul.menu-wrap {
    padding-top: 80px;
  }
}
.header-menu ul.menu-wrap li {
  width: 33.33%;
  float: left;
  text-align: center;
  line-height: 1;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .header-menu ul.menu-wrap li {
    font-size: 32px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
@media (max-height: 600px) {
  .header-menu ul.menu-wrap li {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .header-menu ul.menu-wrap li {
    float: none;
    width: 100%;
    font-size: 20px;
  }
}
.header-menu ul.menu-wrap li a {
  display: inline-block;
  color: white;
  line-height: 1;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
.header-menu ul.menu-wrap li a:hover {
  border-color: white;
}

.header-menu-bottom {
  padding-top: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  .header-menu-bottom {
    top: initial;
    position: relative;
    padding-top: 10px;
  }
}
@media (max-height: 550px) {
  .header-menu-bottom {
    top: initial;
    position: relative;
    padding-top: 10px;
  }
}

.link-wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media screen and (max-width: 1280px) {
  .link-wrap {
    max-width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  .link-wrap {
    max-width: 445px;
  }
}
@media screen and (max-width: 480px) {
  .link-wrap {
    max-width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .link-wrap {
    text-align: center;
  }
}
.link-wrap a {
  display: inline-block;
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  width: 195px;
  height: 135px;
  line-height: 135px;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 50px;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.link-wrap a:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
@media (max-width: 1024px) {
  .link-wrap a {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 125px;
    height: 85px;
    line-height: 85px;
    font-size: 12px;
  }
}
.link-wrap a img {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-top: -4px;
}
.link-wrap a i.fa {
  color: #35508c;
  font-size: 40px;
  vertical-align: middle;
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .link-wrap a i.fa {
    font-size: 30px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 2px;
  }
}
.link-wrap a .icon-calendar {
  margin-right: 15px;
}
@media (max-width: 1024px) {
  .link-wrap a .icon-calendar {
    margin-right: 5px;
    width: 24px;
    height: 24px;
  }
}

#footer {
  height: 80px;
  text-align: center;
  background: url("/images/bg-footer.png") center bottom repeat-x black;
  font-size: 14px;
  color: #333;
  line-height: 1.2em;
  text-align: center;
  padding-top: 25px;
}
@media (max-width: 1024px) {
  #footer {
    height: 75px;
    font-size: 12px;
    padding-top: 12px;
    line-height: 1.6;
  }
}
#footer span.br {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
@media (max-width: 1024px) {
  #footer span.br {
    display: block;
  }
}

.nav-category {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  padding-top: 120px;
  padding-left: 40px;
  -moz-transition: margin-top 0.6s ease 0.3s;
  -o-transition: margin-top 0.6s ease 0.3s;
  -webkit-transition: margin-top 0.6s ease;
  -webkit-transition-delay: 0.3s;
  transition: margin-top 0.6s ease 0.3s;
}

.category-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.category-item {
  margin-bottom: 5px;
  min-height: 85px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-left: 3px solid #333;
  padding-left: 15px;
  color: #ccc;
  font-size: 13px;
  letter-spacing: 2px;
  cursor: pointer;
  -moz-transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out, height 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out, height 0.3s ease-in-out;
  -webkit-transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out, height 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, color 0.2s ease-in-out, height 0.3s ease-in-out;
}
.category-item:hover, .category-item.is-active {
  border-color: #e46e19;
}
.category-item.is-active {
  color: #e46e19;
  font-size: 26px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.nav-footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  text-align: center;
  font-size: 14px;
  color: #bbb;
  padding-left: 5px;
}
.nav-footer.style-stick {
  position: absolute;
  width: 100%;
}
.nav-footer li {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  margin-left: -5px;
  cursor: pointer;
}
.nav-footer li:first-child {
  text-align: left;
}
.nav-footer li:last-child {
  text-align: right;
}
.nav-footer li a {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.nav-footer li a:hover, .nav-footer li a:active {
  color: #e46e19;
}

.large-title-en {
  text-align: center;
  color: #e46e19;
  font-size: 75px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 25px;
}
@media (max-width: 1024px) {
  .large-title-en {
    font-size: 30px;
  }
}

.large-title-ch {
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  border-bottom: 5px solid white;
  font-size: 34px;
  padding: 25px 40px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .large-title-ch {
    font-size: 18px;
    padding: 10px;
    border-bottom: 3px solid white;
  }
}

.title.style-frame {
  margin-bottom: 50px;
  background: url("/images/img-frame.svg") center top no-repeat;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 725px;
  height: 315px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 105px;
}
@media (max-width: 1024px) {
  .title.style-frame {
    width: initial;
    height: initial;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.title.style-frame .style-spfont {
  color: #d3b181;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  .title.style-frame .style-spfont {
    font-size: 20px;
    padding-bottom: 5px;
  }
}
.title.style-frame .append-text {
  line-height: 2;
  letter-spacing: 4px;
  padding-left: 4px;
}
.title.style-frame .append-text .br {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (max-width: 1024px) {
  .title.style-frame .append-text {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0;
    padding-left: 0;
    padding-bottom: 10px;
  }
}
.title.style-frame .append-right {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  padding-top: 10px;
  padding-right: 60px;
  color: #aaa;
}
@media (max-width: 1024px) {
  .title.style-frame .append-right {
    text-align: center;
    padding-right: 0;
    padding-top: 0;
    letter-spacing: 0;
  }
}
.title.style-frame .shape-line {
  height: 1px;
  width: 1.5em;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  opacity: 0.2;
}

.title.style-leaf {
  position: relative;
  margin-bottom: 25px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .title.style-leaf {
    margin-bottom: 10px;
  }
}
.title.style-leaf::before {
  content: url("/images/img-leaf-l.svg");
  width: 285px;
  position: absolute;
  display: block;
  top: 0;
  left: 10px;
  z-index: -1;
}
@media (max-width: 1024px) {
  .title.style-leaf::before {
    width: 70px;
    display: inline-block;
    position: relative;
    left: initial;
    top: initial;
    z-index: initial;
    vertical-align: text-top;
  }
}
.title.style-leaf::after {
  content: url("/images/img-leaf-r.svg");
  width: 285px;
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  z-index: -1;
}
@media (max-width: 1024px) {
  .title.style-leaf::after {
    width: 70px;
    display: inline-block;
    position: relative;
    left: initial;
    top: initial;
    z-index: initial;
    vertical-align: text-top;
  }
}
.title.style-leaf .style-spfont {
  color: #d3b181;
  font-size: 40px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 10px;
}
@media (max-width: 1024px) {
  .title.style-leaf .style-spfont {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 15px;
  }
}

.category-info {
  display: inline-block;
  color: #d3b181;
  border-top: 1px solid #d3b181;
  border-bottom: 1px solid #d3b181;
  white-space: nowrap;
}
.category-info::before, .category-info::after {
  content: '';
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 50px;
  margin-top: -1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.category-info::before {
  background-image: url("/images/ribbon-o-left.svg");
}
.category-info::after {
  background-image: url("/images/ribbon-o-right.svg");
}
.category-info span {
  vertical-align: middle;
  display: inline-block;
  padding-left: 70px;
  padding-right: 70px;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .category-info span {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 1px;
  }
}

.content-list {
  line-height: 1.5;
  letter-spacing: 2px;
  /*dt*/
  /*dd*/
}
@media screen and (max-width: 1280px) {
  .content-list {
    padding-top: 60px;
  }
}
@media screen and (max-width: 1024px) {
  .content-list {
    padding-top: 0;
    padding-bottom: 30px;
  }
}
.content-list .title {
  font-size: 17px;
  font-weight: bold;
  width: 5.5em;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 1px;
}
@media screen and (max-width: 1024px) {
  .content-list .title {
    display: block;
    width: 100%;
  }
}
.content-list .content {
  display: inline-block;
  vertical-align: top;
  width: calc( 100% - 100px );
  margin-bottom: 25px;
}
@media screen and (max-width: 1024px) {
  .content-list .content {
    display: block;
    width: 100%;
  }
}
.content-list .content:nth-child(2), .content-list .content:nth-child(4) {
  padding-right: 195px;
}
@media screen and (max-width: 1280px) {
  .content-list .content:nth-child(2), .content-list .content:nth-child(4) {
    padding-right: 0;
  }
}

[class^="open-"] {
  cursor: pointer;
}

.layout-popup-wrap {
  position: fixed;
  z-index: 102;
  top: 15%;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: #111111;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.layout-popup-wrap.is-on {
  opacity: 1;
}
@media (max-width: 1680px) {
  .layout-popup-wrap {
    top: 10%;
  }
}
@media (max-width: 1024px) {
  .layout-popup-wrap {
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.layout-popup-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
}
.layout-popup-background.is-on {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0.95;
}

.btn-popclose {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #d3b181;
  cursor: pointer;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.popup-shieldbox .btn-popclose {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .popup-shieldbox .btn-popclose {
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
}
.btn-popclose::before, .btn-popclose::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #d3b181;
}
.btn-popclose::before {
  width: 2px;
  height: 60%;
  top: 20%;
  left: 50%;
  margin-left: -1px;
}
.btn-popclose::after {
  height: 2px;
  width: 60%;
  left: 20%;
  top: 50%;
  margin-top: -1px;
}
.btn-popclose:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*FOR POP ALERT*/
.layout-popupalert-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

.layout-popupalert-wrap {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}

.layout-popupalert-box {
  display: inline-block;
  position: relative;
  padding: 3em;
  max-width: 80%;
  background-color: #e46e19;
  background-image: url("/images/img-pillar-1.png");
  background-repeat: no-repeat;
  background-position: right -100px center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
@media (max-width: 1024px) {
  .layout-popupalert-box {
    padding: 1.5em 2em;
  }
}
.layout-popupalert-box .btn-popclose {
  position: absolute;
  top: -2em;
  right: -2em;
}
@media (max-width: 1024px) {
  .layout-popupalert-box .btn-popclose {
    top: -2.5em;
    right: 0;
  }
}
.layout-popupalert-box .style-round.color-white {
  width: 170px;
  height: 40px;
  line-height: 38px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1.5em;
}
.layout-popupalert-box .style-round.color-white:hover, .layout-popupalert-box .style-round.color-white:active {
  color: #e46e19 !important;
}

.layout-popupalert-content {
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 1.6;
  color: white;
}
@media screen and (max-width: 1024px) {
  .layout-popupalert-content {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.layout-popupalert-content h2 {
  font-size: 24px;
  letter-spacing: 2px;
  padding-bottom: 0.5em;
  color: white;
}
@media (max-width: 1024px) {
  .layout-popupalert-content h2 {
    line-height: 1.2;
    font-size: 24px;
  }
}

.popup-title {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #0071bc;
  line-height: 1.6;
  padding-bottom: 0.5em;
  padding-top: 1em;
}

.module-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}

.icon-calendar {
  background-image: url("/images/icon-calendar.svg");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  width: 36px;
  height: 36px;
}

.icon-zoom {
  background-image: url("/images/icon-zoom.svg");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  width: 28px;
  height: 28px;
}

.icon-scroll {
  position: relative;
  width: 22px;
  height: 42px;
  background-image: url("/images/icon-scroll.svg");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.icon-scroll::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 8px;
  left: 10px;
  top: 6px;
  background-color: white;
  animation: jump 2s infinite ease;
  -moz-animation: jump 2s infinite ease;
  -webkit-animation: jump 2s infinite ease;
}

.icon-scroll-m {
  position: relative;
  width: 16px;
  height: 24px;
  background-image: url("/images/icon-scroll-m.svg");
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
.icon-scroll-m::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/images/icon-scroll-m-arrow.svg");
  animation: jump 2s infinite ease;
  -moz-animation: jump 2s infinite ease;
  -webkit-animation: jump 2s infinite ease;
}

input[type="button"], input[type="submit"], button {
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.module-btn {
  display: inline-block;
  padding: 0.3em  1em;
  cursor: pointer;
  -moz-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
  -o-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
}
.module-btn.status-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.style-round {
  width: 265px;
  max-width: 100%;
  height: 55px;
  line-height: 53px;
  background-color: transparent;
  border: 1px solid #d3b181;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  letter-spacing: 2px;
  padding-left: 2px;
  -moz-transition: color 0.3s ease, background-color 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}
@media (max-width: 1024px) {
  .style-round {
    width: 145px;
    height: 35px;
    line-height: 33px;
    font-size: 16px;
  }
}
.style-round, .style-round:link, .style-round:visited {
  color: #d3b181;
}
.style-round:hover, .style-round:active {
  background-color: #d3b181;
  color: black;
}
.style-round.color-white {
  border-color: white;
}
.style-round.color-white, .style-round.color-white:link, .style-round.color-white:visited {
  color: white;
}
.style-round.color-white:hover, .style-round.color-white:active {
  background-color: white;
  color: #e46e19;
}

.style-o {
  border: 1px solid #d3b181;
  font-size: 13px;
}
.style-o, .style-o:link, .style-o:hover, .style-o:active, .style-o:visited {
  color: #d3b181;
}
.style-o i {
  margin-right: 5px;
}

.style-round-full {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  background-color: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 12px;
  padding-left: 1em;
  padding-right: 1em;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
}
.style-round-full:last-child {
  margin-right: 0;
}
.style-round-full, .style-round-full:link, .style-round-full:hover, .style-round-full:active, .style-round-full:visited {
  color: #e46e19;
}
.style-round-full:hover {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 5px;
}
.style-round-full img {
  height: 15px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.style-round-full i {
  margin-right: 5px;
}

a.style-sq {
  display: block;
  background-color: #d3b181;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 240px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}

input, textarea, select {
  border: 0;
  font-size: 1em;
  color: inherit;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
input.readonly, input:read-only, input:-moz-read-only, textarea.readonly, textarea:read-only, textarea:-moz-read-only, select.readonly, select:read-only, select:-moz-read-only {
  cursor: unset !important;
  pointer-events: none !important;
}

textarea {
  resize: none;
  line-height: 2;
}

button {
  background-color: transparent;
  cursor: pointer;
  font-family: 'Chinese' , sans-serif;
}
button:focus {
  outline: none;
}

select {
  max-width: 100%;
  font-size: 1em;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
  padding: 4px 0;
  padding-right: 1em;
  letter-spacing: 2px;
  -webkit-appearance: none;
  /*Chrome*/
  -moz-appearance: none;
  /*FF*/
  appearance: none;
  /*CSS3*/
}
select::-ms-expand {
  display: none;
  /*IE*/
}
@media screen and (max-width: 1024px) {
  select::-ms-expand {
    letter-spacing: 1px;
  }
}
select option {
  background-color: #e46e19;
  border: 0;
  letter-spacing: 2px;
}
select option:hover {
  background-color: #e46e19;
}

.select-wrap {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.select-wrap::after {
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  top: 0.6em;
  bottom: 0;
  right: 2px;
  width: 5px;
  height: 5px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-block {
  position: relative;
  border-bottom: 1px solid white;
  padding-left: 6em;
  margin-bottom: 1px;
}
.form-block.style-half {
  display: inline-block;
  width: 48%;
  margin-left: -5px;
}
.form-block.style-half:first-child {
  margin-left: 0;
  margin-right: 4%;
}
@media (max-width: 767px) {
  .form-block.style-half {
    width: 100%;
    margin-left: 0;
  }
}
.form-block.style-full {
  clear: left;
}
.form-block.is-focus {
  border-bottom: 2px solid white;
  margin-bottom: 0;
}
.form-block .module-form-label {
  width: 6em;
  line-height: 4;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  letter-spacing: 1px;
}
.form-block .module-form-input {
  width: 100%;
  height: 4em;
  height: calc( 4em - 2px );
  background-color: #e46e19;
  background-color: transparent;
}
.form-block .module-form-textarea {
  padding-top: 1.5em;
  padding-top: calc(1.5em - 3px);
  width: 100%;
  height: 10em;
  line-height: 1.5;
  background-color: #e46e19;
  background-color: transparent;
}
.form-block .form-warning-text {
  text-align: left;
  font-size: 16px;
  line-height: 3;
}
.form-block .select-wrap select {
  padding: 1.25em 1.5em 1.25em 0;
  border-bottom: 0;
}
.form-block .select-wrap::after {
  top: 1.5em;
  width: 10px;
  height: 10px;
}
@media screen and (max-width: 1024px) {
  .form-block .select-wrap::after {
    top: 1.7em;
    width: 5px;
    height: 5px;
  }
}

body, input, textarea, select {
  font-family: Chinese, "微軟正黑體", sans-serif;
}

@keyframes jump {
  0% {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  35% {
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
  }
  50% {
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
  }
  65% {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes jump {
  0% {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  35% {
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
  }
  50% {
    -moz-transform: translate(0px, 3px);
    -ms-transform: translate(0px, 3px);
    -webkit-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
  }
  65% {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.style-fadescroll {
  -webkit-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}
.style-fadescroll.status-off {
  opacity: 0;
}

/*fade-in tempo in index*/
.entrance-item.style-fadescroll:nth-child(1) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.entrance-item.style-fadescroll:nth-child(2) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.entrance-item.style-fadescroll:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.find-store.style-fadescroll {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.search-wrap.style-fadescroll {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.section-scene4 .img-wrap.style-fadescroll {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/*# sourceMappingURL=global.css.map */
