<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "units/about" %>
<% end %>
<% content_for :specific_javascript do %>
<%= javascript_include_tag "units/about" %>
<% end %>
<% @page = "about" %>
<!-- EDIT FROM HERE -->
<section class="section-about">
  <h1 class="large-title-en style-spfont">About Cafe Grazie</h1>
  <h2 class="large-title-ch">關於古拉爵</h2>

  <div class="row">

    <div class="col on-desk">
      <div class="img-wrap"><img src="/images/img-about-1.jpg" alt=""></div>
      <div class="img-wrap"><img src="/images/img-about-2.jpg" alt=""></div>
    </div>

    <div class="col main-content">
      <div class="img-wrap on-mobile"><img src="/images/img-about-1.jpg" alt=""></div>
      <h3>經營理念</h3>
      <p>義式屋古拉爵採用華麗奢糜、慵懶飄然的暗色系裝潢設計，是一個身心皆能獲得全面放鬆、屬於大人的Café，整體營造出親密愛侶或三五好友都能開心聚會、共享美味的上乘空間。</p>
      <div class="img-wrap on-mobile"><img src="/images/img-about-3.jpg" alt=""></div>
      <p>古拉爵創業界之先，融合中西方分食的飲食習慣，開發出多樣超值套餐，不僅可以從眾多經典義式料理中，依喜好自由選擇搭配個人組合餐，另備有2至6人份量的多人派對套餐供選擇，滿足客人多目的性的來店需求。</p>
      <div class="img-wrap on-mobile"><img src="/images/img-about-2.jpg" alt=""></div>
      <p>古拉爵自詡為義大利麵與披薩專門店，提供口味多樣化的義大利麵，與自家配方用心製作的道地拿坡里比薩，餅皮外酥內Q、食材豐富多元，企盼帶給顧客如臨義大利當地般的深刻體驗。此外，多道手工甜點亦是品牌特色所在，期待您午后駐足停留，品嚐濃情密意讓幸福升溫。</p>
      <div class="img-wrap on-mobile"><img src="/images/img-about-4.jpg" alt=""></div>
      <p>我們輔以Service-Profit Chain概念強化企業競爭力，期許自我藉由不斷創造具價值感的商品，達到成為「新飲食文化」發信主體的目標，進而在瞬息萬變的食尚潮流中站穩腳步，持續對大眾提供服務、對社會做出貢獻。</p>
      <p>歡迎您親臨現場，品味精緻生活、共度歡愉時光。分享美味，分享歡樂，盡在古拉爵！</p>
      <div class="img-wrap"><img src="/images/img-about-5.jpg" alt=""></div>
    </div>

    <div class="col on-desk">
      <div class="img-wrap"><img src="/images/img-about-3.jpg" alt=""></div>
      <div class="img-wrap"><img src="/images/img-about-4.jpg" alt=""></div>
    </div>

  </div>

  <div class="row main-content">
    <p>GRAZIE義式屋古拉爵共28家分店(2017年1月底)</p>
    <p>分佈於台北、桃園、宜蘭、新竹、台中、嘉義、彰化、台南、高雄、屏東</p>
    <p>日本雲雀集團在日本為最大、最多的連鎖餐飲業。旗下有多種不同品牌型態的餐廳，為一專業的餐飲集團。</p>
    <p><a href="http://www.skylark.co.jp" target="_blank">http://www.skylark.co.jp</a></p>
  </div>
  
</section>
<!-- EDIT END HERE -->