<% @og = [{
    property: "og:title",
    content: "Grazie"
  },{
    property: "og:type",
    content: "website"
  },{
    property: "og:url",
    content: ""
  },{
    property: "og:image",
    content: "images/share.jpg"
  },{
    property: "og:site_name",
    content: "Grazie"
  },{
    property: "og:description",
    content: "Grazie"
  },{
    property: "og:locality",
    content: "Taiwan"
  },{
    property: "og:country-name",
    content: "Taiwan"
}] %>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<meta name="Title" content="Grazie" />
<meta name="Author" content="Drama Network Inc" />
<meta name="Description" content="Grazie" />
<!-- iOS -->
<%#= render :partial => "head-ios-homescreen-seting" %>
<!-- Android -->
<%#= render :partial => "head-android-homescreen-seting" %>
<% @og.each do |og| %>
  <meta property="<%= og[:property] %>" content="<%= og[:content] %>" />
<% end %>
<link href="/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
<title>Grazie</title>