<% if ( @page == "store-list" ) %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAiGHV1VLV3gMihntjcOebE1skzUvRVyEI"></script>
<% end %>
<%= javascript_include_tag "vendors/jquery.min" %>
<%= javascript_include_tag "vendors/fastclick" %>
<%= javascript_include_tag "vendors/svg4everybody.min" %>
<%= javascript_include_tag "initialization" %>
<%= yield :specific_javascript %>