<header id="header">
  <div class="col-left">
    <img src="/images/logo-grazie.svg" alt="">
  </div>
  <div class="col-right btn-hamburger">
    <i class="icon-hamburger">
      <i></i>
      <i></i>
      <i></i>
    </i>
    <span class="hide-menuopen">MENU</span>
    <span class="on-menuopen">BACK</span>
  </div>
</header>

<div class="header-menu">
  <ul class="menu-wrap clearfix">
    <li><a href="/views/index/index.html">Welcome</a></li>
    <li><a href="/views/news/news-list.html">美食快報</a></li>
    <li><a href="/views/menu/meal-index.html">美味菜單</a></li>
    <li><a href="/views/store/store-list.html">分店資訊</a></li>
    <li><a href="/views/contact/contact-index.html">聯絡我們</a></li>
    <li><a href="/views/about/about-index.html">關於古拉爵</a></li>
  </ul>
  <div class="header-menu-bottom">
    <div class="content">
      <div class="link-wrap">
      <% 9.times do |i| %>
        <span class="br">
          <a href=""><img src="/images/logo-link<%=i+1%>.png" alt=""></a>         
        </span>
      <% end %>
<!--         <span class="br">        
          <a href=""><i class="fa fa-facebook" aria-hidden="true"></i>古拉爵FB粉絲團</a>
          <a href=""><i class="module-icon icon-calendar"></i>古拉爵線上訂位</a>
        </span> -->
        <!-- <a href=""><img src="http://dummyimage.com/210x55/666/888" alt=""></a> -->
      </div>     
    </div>
  </div>
</div>