@import "../initial";

@keyframes jump{
  0% { @include transform(translate(0px, 0px));  }
  35% { @include transform(translate(0px, 3px));  }
  50% { @include transform(translate(0px, 3px));  }
  65% { @include transform(translate(0px, 0px));  }
  100%{ @include transform(translate(0px, 0px));  }
}

@-webkit-keyframes jump{
  0% { @include transform(translate(0px, 0px));  }
  35% { @include transform(translate(0px, 3px));  }
  50% { @include transform(translate(0px, 3px));  }
  65% { @include transform(translate(0px, 0px));  }
  100%{ @include transform(translate(0px, 0px));  }
}

.style-fadescroll{
  @include transition(opacity 0.8s ease-in-out);
  &.status-off{
    opacity: 0;
  }
}

/*fade-in tempo in index*/
.entrance-item.style-fadescroll{
  &:nth-child(1){
    @include transition-delay(0.3s);
  }
  &:nth-child(2){
    @include transition-delay(0.4s);
  }
  &:nth-child(3){
    @include transition-delay(0.5s);
  }
}
.find-store.style-fadescroll{
  @include transition-delay(0.2s);
}
.search-wrap.style-fadescroll{
  @include transition-delay(0.3s);
}
.section-scene4 .img-wrap.style-fadescroll{
  @include transition-delay(0.2s);
}