input[type="button"], input[type="submit"], button{
  border: 0;
  -webkit-appearance: none;
  cursor: pointer;
}

.module-btn{
  display: inline-block;
  padding: 0.3em  1em;
  cursor: pointer;
  @include transition(color 0.2s ease,background-color 0.2s ease,border 0.2s ease);
  &.status-disabled{
    pointer-events: none;
    opacity: 0.5;
  }
}

.style-round{
  width: 265px;
  max-width: 100%;
  height: 55px;
  line-height: 53px;
  background-color: transparent;
  border: 1px solid $color-gold;
  @include border-radius(28px);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  letter-spacing: 2px;
  padding-left: 2px;
  @include transition(color 0.3s ease , background-color 0.3s ease);
  
  @media (max-width: 1024px){
    width: 145px;
    height: 35px;
    line-height: 33px;
    font-size: 16px;
  }

  &,&:link,&:visited{
    color: $color-gold;    
  }

  &:hover,&:active{
    background-color: $color-gold;
    color: black; 
  }

  &.color-white{
    border-color: white;
    &,&:link,&:visited{
      color: white;    
    }
    &:hover,&:active{
      background-color: white;
      color: $color-orange;    
    }
  }
}

.style-o{
  border: 1px solid $color-gold;
  font-size: 13px;
  &,&:link,&:hover,&:active,&:visited{
    color: $color-gold;
  }
  i{
    margin-right: 5px;
  }
}

.style-round-full{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  line-height: 40px;
  background-color: white;
  @include border-radius(20px);
  margin-right: 10px;
  font-size: 12px;
  padding-left: 1em;
  padding-right: 1em;
  @include transition(box-shadow 0.3s ease);
  &:last-child{
    margin-right: 0;
  }
  &,&:link,&:hover,&:active,&:visited{
    color: $color-orange;    
  }

  &:hover{
     @include box-shadow(rgba(0, 0, 0, 0.5) 2px 2px 5px);
  }

  img{
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  i{
    margin-right: 5px;
  }
}

a.style-sq{
  display: block;
  background-color: $color-gold;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 240px;
  max-width: 100%;
  margin: 0 auto;
  cursor: pointer;
}