.module-icon{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.icon-calendar{
  background-image: url('/images/icon-calendar.svg');
  @include background-size(contain);
  width: 36px;
  height: 36px;
}
.icon-zoom{
  background-image: url('/images/icon-zoom.svg');
  @include background-size(contain);
  width: 28px;
  height: 28px;
}
.icon-scroll{
  position: relative;
  width: 22px;
  height: 42px;
  background-image: url('/images/icon-scroll.svg');
  @include background-size(contain);
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 8px;
    left: 10px;
    top: 6px;
    background-color: white;
    animation: jump 2s infinite ease;
    -moz-animation: jump 2s infinite ease;
    -webkit-animation: jump 2s infinite ease;
  }
}
.icon-scroll-m{
  position: relative;
  width: 16px;
  height: 24px;
  background-image: url('/images/icon-scroll-m.svg');
  @include background-size(contain);
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/images/icon-scroll-m-arrow.svg');
    animation: jump 2s infinite ease;
    -moz-animation: jump 2s infinite ease;
    -webkit-animation: jump 2s infinite ease;
  }
}


// .header-menu-list{
//   .module-icon{
//     position: relative;
//     width: 60px;
//     height: 60px;
//     font-style: normal;
//     &::before,&::after{
//       content: '';
//       display: block;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-position: center center;
//       @include transition(opacity 0.2s ease);
//     }
//     &::after{
//       opacity: 0;
//     }
//   }
// }

// .header-menu-mobile{
//   .module-icon{
//     position: relative;
//     width: 22px;
//     height: 18px;
//     font-style: normal;
//     &::before,&::after{
//       content: '';
//       display: block;
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-repeat: no-repeat;
//       background-position: center center;
//       @include background-size(contain);
//       @include transition(opacity 0.2s ease);
//     }
//     &::after{
//       opacity: 0;
//     }
//   }
// }

// .icon-menu-news{
//   &::before{
//     background-image: url('/images/header/icon-menu-news.svg');
//     .header-menu-mobile &{
//       background-image: url('/images/header/icon-menu-news-black.svg');
//     }
//   }
//   &::after{
//     background-image: url('/images/header/icon-menu-news-hover.svg');
//     .header-menu-mobile &{
//       background-image: url('/images/header/icon-menu-news-blue.svg');
//     }    
//   }
// }
