[class^="open-"]{
  cursor: pointer;
}

.layout-popup-wrap{
  position: fixed;
  z-index: 102; 
  top: 15%;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: #111111;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  @include transition-property(opacity);
  @include transition-duration(.3s);
  @include transition-timing-function(ease);  
  &.is-on{
    opacity: 1;
  }
  @media (max-width: 1680px){
    top: 10%;
  }
  @media (max-width: 1024px){
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

}
.layout-popup-background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0);
  opacity: 0;

  &.is-on{
    background-color: rgba(255,255,255,0.8);
    opacity: 0.95;
  }

}

.btn-popclose{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid $color-gold;
  cursor: pointer;
  @include rotate(45deg);
  @include border-radius(50%);
  @include transition-property(background-color);
  @include transition-duration(.2s);
  @include transition-timing-function(ease); 
  .popup-shieldbox &{
    position: absolute;
    right: 0;
    top: 0;
    @media (max-width: 1024px){
      // position: fixed;
      width: 20px;
      height: 20px;
      top: 10px;
      right: 10px;
      z-index: 2;
    }
  }
  &::before,&::after{
    content:'';
    display: block;
    position: absolute;
    background-color: $color-gold;
  }
  &::before{
    width: 2px;
    height: 60%;
    top: 20%;
    left: 50%;
    margin-left: -1px;
  }

  &::after{
    height: 2px;
    width: 60%;
    left: 20%;
    top: 50%;
    margin-top: -1px;
  }

  &:hover{
    background-color: rgba(0,0,0,0.8);
  }
}

/*FOR POP ALERT*/
.layout-popupalert-background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 9998;
}
.layout-popupalert-wrap{
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9999;
}
.layout-popupalert-box{
  display: inline-block;
  position: relative;
  padding: 3em;
  max-width: 80%;
  background-color: $color-orange;
  // border: 3px solid white;
  background-image: url("/images/img-pillar-1.png");
  background-repeat: no-repeat;
  background-position: right -100px center;
  @include background-size(cover);
  @include border-radius(2px);
  @media (max-width: 1024px){
    padding: 1.5em 2em;
  }
  .btn-popclose{
    position: absolute;
    top: -2em;
    right: -2em;
    @media (max-width: 1024px){
      top: -2.5em;
      right: 0;
    }
  }
  .style-round.color-white{
    width: 170px;
    height: 40px;
    line-height: 38px;
    @include border-radius(20px);
    cursor: pointer;
    margin-top: 1.5em;
    &:hover,&:active{
      color: $color-orange !important; 
    }

  }
}
.layout-popupalert-content{
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 1.6;
  color: white;
  // font-weight: bold;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
    letter-spacing: 1px;
  }

  h2{
    font-size: 24px;
    letter-spacing: 2px;
    padding-bottom: 0.5em;
    color: white;
    @media (max-width: 1024px){
      line-height: 1.2;
      font-size: 24px;
    }
  }
}

.popup-title{
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #0071bc;
  line-height: 1.6;
  padding-bottom: 0.5em;
  padding-top: 1em;
}
