.module-leveled-menu{
  text-align: left;
  line-height: 1.6;
  padding-bottom: 0.5em;
  .level1-item{
    position: relative;
    color: $color-blue;
    border-bottom: 1px dotted #1c263e;
    @include transition(opacity 0.2s ease);
    &:last-child{
      border-bottom: 0;
    }
    &>span{
      display: inline-block;
      width: 100%;
      vertical-align: top;
      padding-left: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-right: 2em;
      cursor: pointer;
      @include transition(color 0.2s ease);
      &>a{
        color: $color-blue;
        text-decoration: underline;
        @include transition(color 0.2s ease);
        &:hover{
          color: $color-darkblue;          
        }
      }
    }

  }
  .level2-list{

  }
  .level2-item{
    position: relative;
    border-top: 1px dotted #1c263e;
    text-indent: 0;
    position: relative;
    color: $color-blue;
    @include transition(opacity 0.2s ease);
    &>a{
      display: block;
      color: $color-blue;
      padding: 0.5em 2em 0.5em 2em;
      cursor: pointer;
      @include transition(color 0.2s ease);
      &:hover{
        color: $color-darkblue;
      }
    }
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      top: 1.1em;
      left: 1.2em;
      @include border-radius(50%);
      background-color: $color-blue;
    }

    &.has-submenu{
      &::after{
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      top: 0.84em;
      right: 1em;
      border-top: 2px solid $color-blue;
      border-right: 2px solid $color-blue;
      pointer-events: none;
      @include transition(border-color 0.2s ease);
      @include rotate(135deg);
      }
      &.is-open{
        &::after{
          @include rotate(-45deg);
          top: 1em;
        }
      }
    }

    &.is-open{
      .level3-list{
        max-height: 999px;
      }
    }
  }

  &:hover{
    .level1-item{
      // opacity: 0.3;
    }
    .level1-item:hover{
      opacity: 1;
      .level2-item{
        opacity: 1;
        &:hover{
          // opacity: 1;
          &::before{
            border-color: $color-darkblue;

          }
        }
      }
    }
  }
}
.level3-list{
    max-height: 0;
    overflow: hidden;
    @include transition(max-height 0.2s ease);
}
.level3-item{
    border-top: 1px dotted #1c263e;
    text-indent: 0;
    position: relative;
    a{
      display: block;
      color: #777;
      padding: 0.5em 1em 0.5em 2em;
      @include transition(color 0.2s ease);
    }
  &:hover{
    a{
      color: black;
    }
  }
}

.select-wrap{
  display: inline-block;
  white-space: nowrap;
}
//MOVE FROM UNITS/MEMBER.CSS:116
.module-form-list{
  // margin-top: 1em;
  border-top: 1px solid #ccc;
}
.module-form-item{
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-left: 0.5em;
  @media (max-width: 1024px){
    font-size: 14px;
  }
  @media (max-width: 480px){
    font-size: 13px;
  }
  .module-form-item {/*fix再次輸入密碼in mypanel*/
    margin-left: -0.5em;
    border-top: 1px solid #ddd!important;
  }
  &.style-noborder{
    border: 0;
    .module-checkbox{
      padding-top: 1.5em;
      padding-bottom: 0em;
    }
  }
  & > label:not(.error){
    display: block;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    .module-form-text-input{
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      font-size: 1em;
      @media (max-width: 1024px){
        width: 45%;
      }
      &:-moz-read-only { /* For Firefox */
        color:#555;
        cursor: unset !important;
        pointer-events: none !important;
      }
      &:read-only { 
        color:#555;
        cursor: unset !important;
        pointer-events: none !important;
      }
      &::-webkit-input-placeholder {
        color: #ddd;
      }
    }
    select{
      vertical-align: middle;
      display: inline-block;
      position: relative;
      width: 6em;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     #form-signup &{
      background-color: white;
     }
     &::-ms-expand { /* for IE 11 */
      display: none;
     }
      &+i{
        position: relative;
        left: -1.5em;
        background-color: white;
        pointer-events: none;
      }
    }
  }
  .module-checkbox{
    input{
      top: 1.5em;
      z-index: 1;
      opacity: 0;
      &:checked+i.module-symbol{
        &:before{
          content: url("/images/icon-tick-black.svg");
        }
      }
    }
    i.module-symbol{
      top: 1.5em;
      border: 1px solid black;
        &:before{
          // content: 'v';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          @media (max-width: 1024px){
            top: -3px;
          }
        }
    }
  }
  a{
    color: $color-blue;
    text-decoration: underline;
  }
}
.module-form-item-title{
display: inline-block;
width: 6em;
line-height: 1;
vertical-align: middle;
color: $color-blue;
@media (max-width: 480px){
  width: 5em;
}
}
.module-form-item-msg{ //plugin will put label.error in
  position: absolute;
  top: 1em;
  right: 0;
  text-align: right;
  // white-space: nowrap;
  white-space: initial;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  width: calc(50% - 6em - 5px);
  padding-top: 0;
  padding-bottom: 0;
  // @media (max-width: 1024px){
  //   // top: 18px;
    // font-size: 12px;
  //   right: 0.5em;
  // }
  // @media (max-width: 480px){
  //   width: calc(50% - 5em - 5px);
  // }
  @media (max-width: 1024px){
    white-space: initial;
    line-height: 1;
    font-size: 1em;
    width: 100%;
    display: block;
    position: relative;
    right: initial;
    left: 0;
    padding-top: 8px;
    padding-right: 0.5em;
    padding-left: 6em;
    top: 0;
    text-align: left;
  }
  @media (max-width: 480px){
    padding-left: 0;
  }
  .module-icon{
    margin-right: 4px;
  }
  .error{
    /* element of validate.js */

  }
}

.verify-wrap{
  margin-top: 3em;
  margin-bottom: 3em;
  .verify-block{
    display: inline-block;
    vertical-align: top;
    width: 60%;
    width: calc( 100% - 14.4em - 5px);
    border: 1px solid #ddd;
    height: 3.6em;
    line-height: 3.6;
    line-height: calc( 3.6em - 2px);
    padding-left: 1em;
    @media (max-width: 1024px){
      width: 100%;

    }
    img{
      width: 30%;
      vertical-align: middle;
    }
    input{
      width: 50%;
      vertical-align: middle;
      font-size: 1em;
      padding-left: 2em;
    }
  }
  .btn-send{
    display: inline-block;
    vertical-align: top;
    // margin-left: -6px;
    width: 40%;
    width: calc(0px + 12em);
    background-color: $color-blue;
    color: white;
    font-size: 1.2em;
    line-height: 3;
    text-align: center;
    cursor: pointer;
    @media (max-width: 1024px){
      width: 100%;
      font-size: 1em;
    }
  }
  &+p.style-center{
      padding-bottom: 3em;
      a{
        text-decoration: underline;
      }
      @media (max-width: 1024px){
      }
  }
}

.list-steps{
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  @media (max-width: 1024px){
    padding-left: 1.5em;
  }
  .icon-number{
    @media (max-width: 1024px){
      position: absolute;
      // @include transform(scale(0.8));
      left: 0;
      top: 12px;
    }
  }
  li{
    padding-top: 1em;
    padding-bottom: 1em;
    @media (max-width: 1024px){
      padding-left: 40px;
      position: relative;
    }
  }
}