@import "compass";

#footer{
  height: 80px;
  text-align: center;
  background: url("/images/bg-footer.png") center bottom repeat-x black;
  font-size: 14px;
  color: #333;
  line-height: 1.2em;
  text-align: center;
  padding-top: 25px;
  @media (max-width: 1024px){
    height: 75px;
    font-size: 12px;
    padding-top: 12px;
    line-height: 1.6;
  }
  span.br{
    padding-left: 0.25em;
    padding-right: 0.25em;
    @media (max-width: 1024px){
      display: block;
    }
  }
}