@import "compass";

#header{
  position: fixed;
  z-index: 101;
  top: 40px;
  left: 40px;
  width: 270px;
  height: 80px;
  text-align: center;
  color: $color-gold;
  background-color: $color-orange;
  @media (max-width: 1024px){
    top: 20px;
    left: 20px;
    width: 130px;
    height: 40px;
  }
  .col-left{
    float: left;
    width: 205px;
    padding: 0 20px;
    line-height: 75px;
    @media (max-width: 1024px){
      width: 100px;
      padding: 0 8px;
      line-height: 38px;
    }
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  .col-right{
    float: left;
    width: 65px;
    background-color: black;
    height: 100%;
    font-size: 13px;
    letter-spacing: 1px;
    @media (max-width: 1024px){
      width: 30px;
      font-size: 12px;
    }
    span{
      display: block;
      &.hide-menuopen{
        display: block;
        .is-openmenu &{
          display: none;
        }
      }
      &.on-menuopen{
        display: none;
        .is-openmenu &{
          display: block;
        }
      }
      @media (max-width: 1024px){
        // @include transform(scale(0.5));
        visibility: hidden;
      }
    }
  }
}
.icon-hamburger{
  display: block;
  position: relative;
  width: 25px;
  height: 19px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 12px;
  @media (max-width: 1024px){
    width: 18px;
    margin-top: 12px;
    margin-bottom: 0;
  }
  i{
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-gold;
    @include transition(all 0.3s ease);
    &:nth-child(1){
      top: 0;
      left: 0;
      .is-openmenu &{
        width: 12px;
        left: -3px;
        @include transform(rotate(-45deg));
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -o-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;    
        @media (max-width: 1024px){
          width: 11px;
          left: -4px;
        }    
      }
    }
    &:nth-child(2){
      top: 9px;
      left: 0;
      @media (max-width: 1024px){
        top: 7px;
      }
    }
    &:nth-child(3){
      top: 18px;
      left: 0;
      @media (max-width: 1024px){
        top: 14px;
      }
      .is-openmenu &{
        width: 12px;
        left: -3px;
        @include transform(rotate(45deg));
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        -o-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        @media (max-width: 1024px){
          width: 11px;
          left: -4px;
        }
      }        
    }
  }
}
.btn-hamburger{
  cursor: pointer;
}

.header-menu{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(228, 110, 25, 0.95);
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow: auto;
  @include transition(all 0.3s ease-in-out);
  .is-openmenu &{
    opacity: 1;
    visibility: visible;
  }

  &::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    z-index: -1;
    // background-color: rgba(228, 110, 25, 0.9);
    background-image: url("/images/img-pillar-1.png");
    background-repeat: no-repeat;
    background-position: bottom 190px center;
    @media (max-width: 1680px){
      @include background-size(contain);
    }
    @media (max-width: 1024px){
      background-position: bottom -80px center;
    }
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: -1;
    // background-color: rgba(228, 110, 25, 0.9);
    background-image: url("/images/img-pillar-2.png");
    background-repeat: no-repeat;
    background-position: top 320px center;
    @media (max-width: 1680px){
      @include background-size(contain);
    }
    @media (max-width: 1024px){
      background-position: top 40px center;
    }
  }
  ul.menu-wrap{
    position: relative;
    padding-top: 200px;
    width: 1024px;
    margin: 0 auto;
    @media (max-height: 800px){
      padding-top: 160px;
    }
    @media (max-width: 1024px){
      width: 100%;
    }
    @media (max-width: 768px){
      padding-top: 80px;
    }

    li{
      width: 33.33%;
      float: left;
      text-align: center;
      line-height: 1;
      padding-top: 1em;
      padding-bottom: 1em;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 2px;
      color: white;
      white-space: nowrap;

      @media (max-width: 1024px){
        font-size: 32px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
      @media (max-height: 600px){
        font-size: 20px;
        // height: 60px;
      }
      @media (max-width: 768px){
        float: none;
        width: 100%;
        font-size: 20px;
      }
      a{
        display: inline-block;
        color: white;
        line-height: 1;
        @include transition(color 0.3s ease);
        padding-bottom: 5px;
        border-bottom: 3px solid transparent;       
        &:hover{  
          border-color: white;
        }
      }
    }
  }
}

.header-menu-bottom{
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 560px; // = 200+120*3
  padding-top: 50px;
  text-align: center;
  @media (max-height: 900px){
    // top: 440px; // = 200 + 80 * 3
  }
  @media (max-height: 800px){
    // top: 400px; // = 160 + 80 * 3    
  }
  @media (max-width: 768px){
    top: initial;
    position: relative;
    padding-top: 10px;
  }
  @media (max-height: 550px){
    top: initial;
    position: relative;
    padding-top: 10px;
  }
  .content{
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // @media (max-width: 768px){
    //   position: relative;
    // }
    // @media (max-height: 550px){
    //   position: relative;
    // }

  }
}
.link-wrap{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  @media screen and (max-width: 1280px) {
    max-width: 1000px;
  }
  @media screen and (max-width: 1024px) {
    max-width: 445px;
  }
  @media screen and (max-width: 480px) {
    max-width: 300px;
    // text-align: center;
  }
  @media screen and (max-width: 300px) {
    text-align: center;
  }
  a{
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    width: 195px;
    height: 135px;
    line-height: 135px;
    background-color: white;
    @include border-radius(10px);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
    @include transition(box-shadow 0.3s ease);
    &:hover{
      @include box-shadow(rgba(0, 0, 0, 0.5) 2px 2px 5px);
    }
    @media (max-width: 1024px){
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 20px;
      width: 125px;
      height: 85px;
      line-height: 85px;
      font-size: 12px;
    }
    img{
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      margin-top: -4px;
      @media (max-width: 1024px){
        // height: 25px;
      }
    }
    i.fa{
      color: $color-fb;
      font-size: 40px;
      vertical-align: middle;
      margin-right: 15px;
      @media (max-width: 1024px){
        font-size: 30px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 2px;
      }
    }
    .icon-calendar{
      margin-right: 15px;
      @media (max-width: 1024px){
        margin-right: 5px;
        width: 24px;
        height: 24px;
      }
    }
  }
}