::-moz-selection { /* Code for Firefox */
  background: $color-orange;
  color: white;
}
::selection {
  background: $color-orange;
  color: white;
}
body{
  background-color: black;
  overflow-x: hidden;
  color: white;
  &.is-openmenu,&.is-lockscroll{
    @media (max-width: 1024px){
      overflow: hidden;
    }
  }
  @media (max-width: 1024px){
    // width: 1024px;
    overflow-x: auto;
  }
}
// 主容器
.layout-container {
}
// 主內容區塊
.layout-view {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc( 100vh - 80px );
  @include transition(opacity 0.5s ease);
  @media (max-width: 1024px){
    // width: 1024px;
    min-height: calc( 100vh - 75px );
  }
  &::before,&::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  &::before{
    z-index: -2;
    background: url("/images/bg-body.png") center top repeat #000;
    @media (max-width: 1024px){
      background: url("/images/bg-body-m.png") center top repeat #000;      
    }
  }
  &::after{
    z-index: -1;
    // mix-blend-mode: multiply;
    background: url("/images/bg-light.png") center top repeat-y;
  }

  .is-opening-submenu &{
    opacity: 0.1;
  }
}
.style-spfont{
  font-family: "Quintessential", 微軟正黑體,Arial,Helvetica,sans-serif;
}
.style-font-times{
  font-family: "Times New Roman", 微軟正黑體,Arial,Helvetica,sans-serif;
}
.style-smallfont{
  font-size: 12px;
}
.style-center{
  text-align: center;
}
.style-left{
  text-align: left;
}
.style-link{
  color: $color-orange;
  text-decoration: underline;
  @include transition(color 0.1s ease);
  &:link,&:visited{
    color: $color-orange;
  }
  &:hover,&:active{
    color: $color-orange;    
  }
}

.on-mobile{
  @media (min-width: 1024.01px){
    display: none !important;
  }
}

.on-desk{
  @media (max-width: 1024px){
    display: none !important;
  }
}

.br{
  display: inline-block;
}