<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/swiper" %>
<%= stylesheet_link_tag "units/news" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/swiper" %>
<script>
  var bannerSwiper = new Swiper('.hotnews-banner', {
    effect: 'coverflow',
    centeredSlides: false,
    simulateTouch: false,
    slidesPerView: 1.1,
    speed: 600,
    loop: false,
    coverflow: {
      rotate: 0,
      stretch: $(window).width()>1366? 500 : 350,
      depth: $(window).width()>1366? 150 : 60,
      modifier: 1,
      slideShadows : true
    }
  });

  var contentSwiper = new Swiper('.hotnews-content .swiper-container', {
    nextButton: '.swiper-next',
    prevButton: '.swiper-prev',
    simulateTouch: false,
    effect: 'fade',
    autoplay: 5000,
    speed: 1000,
    spaceBetween: 250,
    onSlideChangeStart: function(){
      bannerSwiper.slideTo( contentSwiper.activeIndex )
    }
  });

</script>
<% end %>
<% @page = "news-list" %>

<section class="section-news-list">
  <h1 class="large-title-en style-spfont">Food Express</h1>
  <h2 class="large-title-ch">美食快報</h2>

<!-- 置頂新聞列表桌機板 -->
  <div class="hotnews-list on-desk">
    <div class="swiper-prev"></div>
    <div class="swiper-next"></div>

    <!-- 圖片輪撥 -->
    <div class="swiper-container hotnews-banner" dir="rtl">

      <div class="swiper-wrapper">
        <% 4.times do |i| %>
        <!-- A HOTNEWS IMG START -->
        <div class="swiper-slide">
          <div class="img-wrap">
            <img src="/images/temp/test-edm.jpg" alt="">
          </div>
        </div>
        <!-- A HOTNEWS IMG END -->
        <%end%>
      </div>

    </div>

    <div class="hotnews-content">
      <div class="inner">

        <!-- 文字輪撥 -->
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <%4.times do%>
            <!-- A HOTNEWS START -->
            <div class="swiper-slide">
              <p class="style-spfont date">
                <span class="year">2016</span>.<span class="month">12</span>.<span class="day">31</span>
              </p>
              <p class="title">
                新聞標題<%= zh_lorem_paragraphs(1) %>
              </p>
              <p class="describe">
                新聞簡介<%= zh_lorem_paragraphs(5) %>
              </p>
              <a href="news-detail.html" class="btn-more style-font-times">
                <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span>MORE</span>
              </a>
            </div>
            <!-- A HOTNEWS END -->
            <%end%>

          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- 置頂新聞列表手機板 -->
  <ul class="allnews-list style-hotnews-m on-mobile">
    <%3.times do |i|%>
    <li class="news-item">
      <div class="img-wrap">
        <img src="/images/temp/test-edm.jpg" alt="">

        <p class="style-spfont date">
          <span class="year">2016</span>.<span class="month">12</span>.<span class="day">31</span>
        </p>
        <p class="title">
          新聞標題<%=i%><%= zh_lorem_paragraphs(1) %>
        </p>
        <p class="describe">
          新聞簡介<%= zh_lorem_paragraphs(5) %>
        </p>

        <a href="news-detail.html" class="btn-more style-font-times">
          <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          <span>MORE</span>
        </a>
      </div>
    </li>
    <%end%>
  </ul>

  <!-- 一般新聞列表 -->
  <ul class="allnews-list">
    <%8.times do |i|%>
    <li class="news-item">
      <p class="style-spfont date">
        <span class="year">2016</span>.<span class="month">12</span>.<span class="day">31</span>
      </p>
      <p class="title">
        新聞標題<%=i%><%= zh_lorem_paragraphs(1) %>
      </p>
      <div class="img-wrap">
        <img src="/images/temp/test-edm.jpg" alt="">
        <a href="news-detail.html" class="btn-more style-font-times">
          <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          <span>MORE</span>
        </a>
      </div>
    </li>
    <%end%>
  </ul>

  <div class="btn-wrap">
    <a href="" class="style-round">更多快報</a>
  </div>
</section>
