<% content_for :specific_stylesheet do %>
<%= stylesheet_link_tag "vendors/perfect-scrollbar" %>
<%= stylesheet_link_tag "units/news" %>
<% end %>

<% content_for :specific_javascript do %>
<%= javascript_include_tag "vendors/perfect-scrollbar.jquery" %>
<%= javascript_include_tag "units/news-detail" %>
<script>
  // $(function() {
  //     $(".section-edm").perfectScrollbar();
  // });
</script>
<% end %>
<% @page = "news-detail" %>


<!-- RIGHT SIDE MENU -->
<section class="section-edm">
  <div class="btn-wrap on-mobile">
    <a href="/views/store/store-list.html" class="module-btn style-o">查詢各店專屬優惠</a>
  </div> 
  <img src="/images/temp/test-edm.jpg" alt="">
</section>

<!-- MAIN CONTENT -->
<section class="section-main">

  <!-- LEFT SIDE MENU -->
  <nav class="nav-category on-desk">
    <ul class="category-list">
      <li class="category-item"><a href="news-list.html">回總覽</a></li>
      <li class="category-item"><a href="#">上一則</a></li>
      <li class="category-item"><a href="#">下一則</a></li>
    </ul>
    <a href="/views/store/store-list.html" class="module-btn style-o">查詢各店專屬優惠</a>
  </nav>


  <ul class="nav-footer on-mobile">
    <li class="nav-footer-item"><a href="#">上一則</a></li>
    <li class="nav-footer-item"><a href="news-list.html">回總覽</a></li>
    <li class="nav-footer-item"><a href="#">下一則</a></li>
  </ul>

  <!-- MAIN CONTENT -->
  <div class="main-newscontent">
    <p class="style-spfont date">
      <span class="year">2016</span>.<span class="month">12</span>.<span class="day">31</span>
    </p>
    <p class="title">
      新聞標題<%= zh_lorem_paragraphs(1) %>
    </p>
    <div class="describe">
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
<!-- 
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <img src="http://www.grazie.com.tw/uploads/news/thumbnails/201512081531111930_600x1000.jpg" alt="">
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <img src="http://www.grazie.com.tw/uploads/news/thumbnails/201407101539242606_600x1000.jpg" alt="">
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
      <p>新聞內容<%= zh_lorem_paragraphs(1) %></p>
 -->      
    </div>
    <div class="btn-wrap">
      <a href="" class="style-round">下載優惠券</a>
    </div>
  </div>

</section>